<main id="content" role="main" class="group"><article role="article" class="group">

<h1><%=t 'agencyUsers.editHeading'%></h1>

<%= render 'form' %>

<%# link_to t('agencyUsers.show'), @agency_user %>
<%= link_to t('agencyUsers.back'), agency_users_path %>

</article></main>