---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/IP27406R
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <COMPANIES_HOUSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '584'
      X-Ratelimit-Reset:
      - '1517927615'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"company_name":"UPPER WENSLEYDALE INDUSTRIAL AND PROVIDENT SOCIETY
        LIMITED","type":"industrial-and-provident-society","company_number":"IP27406R","jurisdiction":"england-wales","has_been_liquidated":false,"undeliverable_registered_office_address":false,"etag":"da4c1491f5f591ef41c24bba57bb0806ea2c4417","company_status":"active","has_insolvency_history":false,"has_charges":false,"registered_office_address":{"address_line_1":"","locality":"","postal_code":"","address_line_2":""},"accounts":{"accounting_reference_date":{"month":"99","day":"99"},"last_accounts":{"type":"null"}},"links":{"self":"/company/IP27406R"},"partial_data_available":"full-data-available-from-financial-conduct-authority-mutuals-public-register","can_file":false}'
  recorded_at: Tue, 06 Feb 2018 14:28:04 GMT
recorded_with: VCR 3.0.3
