---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/IP031977
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <COMPANIES_HOUSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '587'
      X-Ratelimit-Reset:
      - '1517927615'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"company_name":"ENERGISE STUR VALLEY INDUSTRIAL AND PROVIDENT SOCIETY
        LIMITED","has_been_liquidated":false,"undeliverable_registered_office_address":false,"type":"industrial-and-provident-society","company_number":"IP031977","jurisdiction":"england-wales","etag":"9c5773301b80b237e084f71a5766c14c1cbc77eb","company_status":"active","has_charges":false,"has_insolvency_history":false,"accounts":{"last_accounts":{"type":"null"},"accounting_reference_date":{"day":"99","month":"99"}},"links":{"self":"/company/IP031977"},"partial_data_available":"full-data-available-from-financial-conduct-authority-mutuals-public-register","registered_office_address":{},"can_file":false}'
  recorded_at: Tue, 06 Feb 2018 14:28:04 GMT
recorded_with: VCR 3.0.3
