---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/SC028747
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <COMPANIES_HOUSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '586'
      X-Ratelimit-Reset:
      - '1517927615'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"type":"ltd","registered_office_address":{"address_line_1":"34 Old
        Mill Road","postal_code":"G71 7HH","address_line_2":"Uddingston"},"company_number":"SC028747","company_name":"THOMAS
        TUNNOCK LIMITED","undeliverable_registered_office_address":false,"accounts":{"overdue":false,"last_accounts":{"period_start_on":"2016-03-01","period_end_on":"2017-02-25","made_up_to":"2017-02-25","type":"full"},"accounting_reference_date":{"day":"28","month":"02"},"next_due":"2018-11-30","next_made_up_to":"2018-02-28","next_accounts":{"period_start_on":"2017-02-26","period_end_on":"2018-02-28","overdue":false,"due_on":"2018-11-30"}},"jurisdiction":"scotland","sic_codes":["32990"],"last_full_members_list_date":"2016-05-09","has_been_liquidated":false,"status":"active","date_of_creation":"1952-02-16","has_insolvency_history":false,"etag":"f908f3e2de41f774cbb61d9c11732720bda14226","has_charges":false,"company_status":"active","confirmation_statement":{"overdue":false,"next_due":"2018-05-23","next_made_up_to":"2018-05-09","last_made_up_to":"2017-05-09"},"links":{"self":"/company/SC028747","filing_history":"/company/SC028747/filing-history","officers":"/company/SC028747/officers","persons_with_significant_control":"/company/SC028747/persons-with-significant-control"},"registered_office_is_in_dispute":false,"can_file":true}'
  recorded_at: Tue, 06 Feb 2018 14:28:04 GMT
recorded_with: VCR 3.0.3
