---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/SO302113
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <COMPANIES_HOUSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '590'
      X-Ratelimit-Reset:
      - '1517927615'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"registered_office_address":{"postal_code":"EH1 2BB","address_line_1":"19
        Rutland Square","locality":"Edinburgh"},"company_number":"SO302113","date_of_creation":"2008-10-30","jurisdiction":"scotland","type":"llp","undeliverable_registered_office_address":false,"company_name":"KLG
        SCOTLAND LLP","has_been_liquidated":false,"status":"active","accounts":{"overdue":false,"next_made_up_to":"2018-03-31","next_accounts":{"period_end_on":"2018-03-31","overdue":false,"period_start_on":"2017-04-01","due_on":"2018-12-31"},"next_due":"2018-12-31","last_accounts":{"made_up_to":"2017-03-31","period_start_on":"2016-04-01","period_end_on":"2017-03-31"},"accounting_reference_date":{"day":"31","month":"03"}},"has_insolvency_history":false,"etag":"279e7d355dad6617362011792d7e9c084d16692c","has_charges":true,"company_status":"active","confirmation_statement":{"next_due":"2018-11-13","overdue":false,"last_made_up_to":"2017-10-30","next_made_up_to":"2018-10-30"},"links":{"self":"/company/SO302113","filing_history":"/company/SO302113/filing-history","officers":"/company/SO302113/officers","charges":"/company/SO302113/charges","persons_with_significant_control":"/company/SO302113/persons-with-significant-control"},"registered_office_is_in_dispute":false,"can_file":false}'
  recorded_at: Tue, 06 Feb 2018 14:28:03 GMT
recorded_with: VCR 3.0.3
