---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/NC000059
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <COMPANIES_HOUSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '592'
      X-Ratelimit-Reset:
      - '1517927615'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"accounts":{"accounting_reference_date":{"month":"12","day":"31"},"last_accounts":{"made_up_to":"2016-12-31","period_end_on":"2016-12-31","type":"micro-entity","period_start_on":"2016-01-01"},"overdue":false,"next_accounts":{"period_end_on":"2017-12-31","overdue":false,"due_on":"2018-09-30","period_start_on":"2017-01-01"},"next_due":"2018-09-30","next_made_up_to":"2017-12-31"},"company_name":"PROTEC
        (NI) LLP","has_been_liquidated":false,"undeliverable_registered_office_address":false,"registered_office_address":{"address_line_1":"6
        Trench Road","address_line_2":"Hyde Park Industrial Estate","region":"Co Antrim","locality":"Newtownabbey"},"company_number":"NC000059","date_of_creation":"2005-10-31","type":"llp","jurisdiction":"northern-ireland","has_insolvency_history":false,"etag":"bd3fcefdff0429deb46ee3b62660ff1404b44891","company_status":"active","has_charges":false,"confirmation_statement":{"next_made_up_to":"2017-10-31","overdue":true,"last_made_up_to":"2016-10-31","next_due":"2017-11-14"},"links":{"self":"/company/NC000059","filing_history":"/company/NC000059/filing-history","officers":"/company/NC000059/officers","persons_with_significant_control":"/company/NC000059/persons-with-significant-control"},"registered_office_is_in_dispute":false,"company_status_detail":"active-proposal-to-strike-off","can_file":false}'
  recorded_at: Tue, 06 Feb 2018 14:28:03 GMT
recorded_with: VCR 3.0.3
