---
http_interactions:
- request:
    method: get
    uri: http://data.companieshouse.gov.uk/doc/company/02050399.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
           "primaryTopic" : {
              "CompanyName" : "ZENITH PRINT (UK) LIMITED",
              "CompanyNumber" : "02050399",
              "RegAddress" : {
                 "AddressLine1" : "15 LON UCHAF",
                 "AddressLine2" : "LON UCHAF",
                 "PostTown" : "CAERPHILLY",
                 "County" : "MID GLAMORGAN",
                 "Postcode" : "CF83 1BR"
              },
              "CompanyCategory" : "Private Limited Company",
              "CompanyStatus" : "Active",
              "CountryOfOrigin" : "United Kingdom",
              "IncorporationDate" : "28/08/1986",
              "PreviousNames" : [
                 {
                    "CONDate" : "22/03/1996",
                    "CompanyName" : "ZENITH TREFOREST PRESS LIMITED"
                 }
              ],
              "Accounts" : {
                 "AccountRefDay" : "31",
                 "AccountRefMonth" : "03",
                 "NextDueDate" : "31/12/2015",
                 "LastMadeUpDate" : "31/03/2014",
                 "AccountCategory" : "TOTAL EXEMPTION SMALL"
              },
              "Returns" : {
                 "NextDueDate" : "28/01/2016",
                 "LastMadeUpDate" : "31/12/2014"
              },
              "Mortgages" : {
                 "NumMortCharges" : "6",
                 "NumMortOutstanding" : "2",
                 "NumMortPartSatisfied" : "0",
                 "NumMortSatisfied" : "4"
              },
              "SICCodes" : {
                 "SicText" : [
                    "70100 - Activities of head offices"
                 ]
              }
           }
        }
  recorded_at: Wed, 17 Jun 2015 11:57:45 GMT
recorded_with: VCR 2.9.3
