---
http_interactions:
- request:
    method: get
    uri: http://data.companieshouse.gov.uk/doc/company/07540106.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
           "primaryTopic" : {
              "CompanyName" : "WASTE ACADEMY (2011) LTD",
              "CompanyNumber" : "07540106",
              "RegAddress" : {
                 "AddressLine1" : "74 CANNOCK ROAD",
                 "AddressLine2" : "NEW INVENTION",
                 "PostTown" : "WILLENHALL",
                 "County" : "WEST MIDLANDS",
                 "Postcode" : "WV12 5RZ"
              },
              "CompanyCategory" : "Private Limited Company",
              "CompanyStatus" : "Active",
              "CountryOfOrigin" : "United Kingdom",
              "IncorporationDate" : "23/02/2011",
              "PreviousNames" : [
                 {
                    "CONDate" : "23/02/2011",
                    "CompanyName" : "WASTE ACADEMY LTD"
                 }
              ],
              "Accounts" : {
                 "AccountRefDay" : "29",
                 "AccountRefMonth" : "02",
                 "NextDueDate" : "30/11/2015",
                 "LastMadeUpDate" : "28/02/2014",
                 "AccountCategory" : "DORMANT"
              },
              "Returns" : {
                 "NextDueDate" : "22/03/2016",
                 "LastMadeUpDate" : "23/02/2015"
              },
              "SICCodes" : {
                 "SicText" : [
                    "99999 - Dormant Company"
                 ]
              }
           }
        }
  recorded_at: Wed, 17 Jun 2015 11:57:46 GMT
recorded_with: VCR 2.9.3
