---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/10761329
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <COMPANIES_HOUSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '594'
      X-Ratelimit-Reset:
      - '1517927615'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"registered_office_is_in_dispute":false,"has_charges":false,"undeliverable_registered_office_address":false,"type":"ltd","company_status":"active","links":{"self":"/company/10761329","persons_with_significant_control":"/company/10761329/persons-with-significant-control","filing_history":"/company/10761329/filing-history","officers":"/company/10761329/officers"},"has_insolvency_history":false,"company_number":"10761329","company_name":"WASTE
        AWAY SERVICES LTD","confirmation_statement":{"next_due":"2018-05-22","overdue":false,"next_made_up_to":"2018-05-08"},"accounts":{"next_due":"2019-02-09","accounting_reference_date":{"month":"05","day":"31"},"next_accounts":{"due_on":"2019-02-09","period_start_on":"2017-05-09","overdue":false,"period_end_on":"2018-05-31"},"last_accounts":{"type":"null"},"next_made_up_to":"2018-05-31","overdue":false},"sic_codes":["96090"],"registered_office_address":{"locality":"Hoddesdon","country":"United
        Kingdom","address_line_1":"72 Old Essex Road","postal_code":"EN11 0AE"},"etag":"395a26e068aad0ceab8d335a43e6452b6d4b4726","jurisdiction":"england-wales","date_of_creation":"2017-05-09","company_status_detail":"active-proposal-to-strike-off","can_file":true}'
  recorded_at: Tue, 06 Feb 2018 14:28:02 GMT
recorded_with: VCR 3.0.3
