---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/01618428
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <COMPANIES_HOUSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '596'
      X-Ratelimit-Reset:
      - '1553013748'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"jurisdiction":"england-wales","etag":"efb72a189e07662facd6d1f872a6edef8388edb5","date_of_creation":"1982-03-01","accounts":{"next_made_up_to":"2019-03-27","next_due":"2019-12-27","overdue":false,"last_accounts":{"made_up_to":"2018-03-24","period_end_on":"2018-03-24","type":"full","period_start_on":"2017-03-26"},"accounting_reference_date":{"day":"27","month":"03"},"next_accounts":{"period_end_on":"2019-03-27","overdue":false,"period_start_on":"2018-03-25","due_on":"2019-12-27"}},"last_full_members_list_date":"2015-07-30","company_number":"01618428","has_charges":true,"company_name":"NEW
        LOOK RETAILERS LIMITED","registered_office_address":{"postal_code":"DT3 5HJ","address_line_1":"New
        Look House","address_line_2":"Mercery Road","locality":"Weymouth","region":"Dorset"},"type":"ltd","sic_codes":["47710","47721","47722","47910"],"company_status":"voluntary-arrangement","has_insolvency_history":true,"previous_company_names":[{"effective_from":"1982-03-01","name":"NEW
        LOOK WHOLESALERS LIMITED","ceased_on":"1987-06-08"}],"undeliverable_registered_office_address":false,"confirmation_statement":{"overdue":false,"next_due":"2019-08-13","next_made_up_to":"2019-07-30","last_made_up_to":"2018-07-30"},"links":{"self":"/company/01618428","filing_history":"/company/01618428/filing-history","officers":"/company/01618428/officers","charges":"/company/01618428/charges","persons_with_significant_control":"/company/01618428/persons-with-significant-control","insolvency":"/company/01618428/insolvency"},"registered_office_is_in_dispute":false,"can_file":true}'
  recorded_at: Tue, 19 Mar 2019 16:38:57 GMT
recorded_with: VCR 3.0.3
