---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/10761329
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <COMPANIES_HOUSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '596'
      X-Ratelimit-Reset:
      - '1585049391'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"registered_office_is_in_dispute":false,"has_charges":false,"undeliverable_registered_office_address":false,"type":"ltd","company_status":"active","links":{"self":"/company/10761329","persons_with_significant_control":"/company/10761329/persons-with-significant-control","filing_history":"/company/10761329/filing-history","officers":"/company/10761329/officers"},"has_insolvency_history":false,"company_number":"10761329","company_name":"WASTE
        AWAY SERVICES LTD","confirmation_statement":{"next_made_up_to":"2020-05-08","next_due":"2020-05-22","last_made_up_to":"2019-05-08","overdue":false},"accounts":{"next_due":"2021-02-28","accounting_reference_date":{"month":"05","day":"31"},"next_made_up_to":"2020-05-31","last_accounts":{"type":"dormant","period_end_on":"2019-05-31","made_up_to":"2019-05-31","period_start_on":"2018-06-01"},"overdue":false,"next_accounts":{"due_on":"2021-02-28","period_start_on":"2019-06-01","overdue":false,"period_end_on":"2020-05-31"}},"sic_codes":["38110","96090"],"registered_office_address":{"locality":"Hoddesdon","country":"United
        Kingdom","postal_code":"EN11 0AE","address_line_1":"72 Old Essex Road"},"etag":"0bc238ee08efa2f83215be47d4437639c183ddf3","jurisdiction":"england-wales","date_of_creation":"2017-05-09","can_file":true}'
  recorded_at: Tue, 24 Mar 2020 11:28:58 GMT
recorded_with: VCR 5.1.0
