---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/01618428
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <COMPANIES_HOUSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '595'
      X-Ratelimit-Reset:
      - '1585049391'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"jurisdiction":"england-wales","etag":"cb310140fea0e953498819f93decbd31f1fe14d0","date_of_creation":"1982-03-01","accounts":{"next_due":"2020-12-27","last_accounts":{"made_up_to":"2019-03-30","type":"full","period_end_on":"2019-03-30","period_start_on":"2018-03-25"},"next_accounts":{"period_start_on":"2019-03-31","period_end_on":"2020-03-27","overdue":false,"due_on":"2020-12-27"},"overdue":false,"next_made_up_to":"2020-03-27","accounting_reference_date":{"day":"27","month":"03"}},"last_full_members_list_date":"2015-07-30","company_number":"01618428","has_charges":true,"company_name":"NEW
        LOOK RETAILERS LIMITED","registered_office_address":{"address_line_2":"Mercery
        Road","address_line_1":"New Look House","region":"Dorset","postal_code":"DT3
        5HJ","locality":"Weymouth"},"type":"ltd","sic_codes":["47710","47721","47722","47910"],"company_status":"voluntary-arrangement","has_insolvency_history":true,"previous_company_names":[{"effective_from":"1982-03-01","ceased_on":"1987-06-08","name":"NEW
        LOOK WHOLESALERS LIMITED"}],"undeliverable_registered_office_address":false,"confirmation_statement":{"overdue":false,"next_made_up_to":"2020-07-30","last_made_up_to":"2019-07-30","next_due":"2020-08-13"},"links":{"self":"/company/01618428","filing_history":"/company/01618428/filing-history","officers":"/company/01618428/officers","charges":"/company/01618428/charges","persons_with_significant_control":"/company/01618428/persons-with-significant-control","insolvency":"/company/01618428/insolvency"},"registered_office_is_in_dispute":false,"can_file":true}'
  recorded_at: Tue, 24 Mar 2020 11:28:58 GMT
recorded_with: VCR 5.1.0
