<main id="content" role="main" class="group"><article role="article" class="group">

<h1>Waste Carrier Registration</h1>
<!--<h2 class="subtitle">For a lower tier waste carrier/broker/dealer</h2>-->

<fieldset>
<legend>Do you need to register as a waste carrier/broker/dealer?</legend>

<%= render 'findAnswers' %>

</fieldset>

<%# link_to 'Back', discovers_path %>

</article></main>