<main id="content" role="main" class="group"><article role="article" class="group">

<% content_for :page_title, t('.titleTitle')%>
<h1><%= t ".title" %></h1>

<fieldset>

<%= render 'findAnswers' %>

</fieldset>

<%# link_to 'Back', discovers_path %>

</article></main>