---
http_interactions:
- request:
    method: get
    uri: http://data.companieshouse.gov.uk/doc/company/05868270.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
           "primaryTopic" : {
              "CompanyName" : "BEEF LTD",
              "CompanyNumber" : "05868270",
              "RegAddress" : {
                 "AddressLine1" : "UNIT 1.10 THE PAINTWORKS",
                 "AddressLine2" : "BATH ROAD",
                 "PostTown" : "BRISTOL",
                 "Postcode" : "BS4 3EH"
              },
              "CompanyCategory" : "Private Limited Company",
              "CompanyStatus" : "Liquidation",
              "CountryOfOrigin" : "United Kingdom",
              "IncorporationDate" : "06/07/2006",
              "Accounts" : {
                 "AccountRefDay" : "31",
                 "AccountRefMonth" : "08",
                 "NextDueDate" : "31/05/2014",
                 "LastMadeUpDate" : "31/08/2012",
                 "AccountCategory" : "TOTAL EXEMPTION SMALL"
              },
              "Returns" : {
                 "NextDueDate" : "03/08/2014",
                 "LastMadeUpDate" : "06/07/2013"
              },
              "SICCodes" : {
                 "SicText" : [
                    "62012 - Business and domestic software development",
                    "63110 - Data processing, hosting and related activities",
                    "63120 - Web portals"
                 ]
              }
           }
        }
  recorded_at: Fri, 13 Jun 2014 15:42:19 GMT
[...]
