*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/vendor/cache
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/public/maintenance.html
/coverage/
/spec/tmp/*
*.orig
rerun.txt
pickle-email-*.html
/features/reports/*.html
/features/reports/*.xml
/spec/reports/*.xml
sauce_connect.*
*.sublime-*
*.log

jenkins_build_number
runCucumber.sh
runRedis.sh
remoteToJenkins.sh
Jenkins_Frontend_Env_Vars.sh

brakeman-report.txt

dump.rdb

.idea/
.settings/
**~

coverage
.directory
.env*
.byebug_history

# Passengerfile
# This is used to configure how the web application server we use will
# run in any given environment. Because it is environment dependent we don't
# add it to source code.
Passengerfile.json
