<%= render "errors" %>

<!-- WF 4.3.2 -->
<div id="page7"  data-journey="waste-carriers-registration:director-details">

  <fieldset>
    <legend><%= t '.legend' %></legend>

  </fieldset>

</div>

<%= render 'wizard_links' %>