<% if @directors.last.errors.any? %>
    <% full_messages = one_full_message_per_invalid_attribute(@director) %>
    <div id="error_explanation" class="validation-summary">
      <h2><%= t '.errorMessage', :count => pluralize(full_messages.count, t('.error')) %></h2>
        <% full_messages.each do |msg| %>
            <a class="error-text" href="#registration_<%= msg %>"><%= msg %></a>
        <% end %>
    </div>
  <% end %>