<%= render 'shared/content_for_pages' %>

<main id="content" role="main" class="group">
  <article role="article" class="group">

    <% content_for :page_title, createTitle('directors.directorDetails.title') %>
    <div class="step"><%= t 'directors.directorDetails.step' %></div>

    <%= form_for(@director, url: {action: "create"} ) do |f| %>
      <%= render 'directordetails_step', f: f, d: @director %>
    <% end %>

  </article>
</main>