---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/05868270
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <COMPANIES_HOUSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '599'
      X-Ratelimit-Reset:
      - '1517927615'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"has_been_liquidated":true,"last_full_members_list_date":"2013-07-06","date_of_creation":"2006-07-06","type":"ltd","sic_codes":["62012","63110","63120"],"jurisdiction":"england-wales","company_name":"BEEF
        LTD","registered_office_address":{"address_line_2":"Bath Road","locality":"Bristol","postal_code":"BS4
        3EH","address_line_1":"Unit 1.10 The Paintworks"},"company_number":"05868270","undeliverable_registered_office_address":false,"accounts":{"accounting_reference_date":{"month":"08","day":"31"},"last_accounts":{"type":"total-exemption-small","made_up_to":"2012-08-31"}},"has_insolvency_history":true,"etag":"d40ffbea6e7243a46b5626710fdfcb29c515cb62","company_status":"dissolved","has_charges":false,"links":{"self":"/company/05868270","filing_history":"/company/05868270/filing-history","officers":"/company/05868270/officers","insolvency":"/company/05868270/insolvency"},"registered_office_is_in_dispute":false,"date_of_cessation":"2016-12-13","can_file":false}'
  recorded_at: Tue, 06 Feb 2018 14:27:53 GMT
recorded_with: VCR 3.0.3
