---
http_interactions:
- request:
    method: get
    uri: http://data.companieshouse.gov.uk/doc/company/02050399.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Temporary internal error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "<html>\n  <head>\n    <meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=iso-8859-1\" />\n    <title>Error Page</title>\n    <style>\nbody
        {\n\tcolor:#000080;\n    font-size:x-small;\n    font-family: Arial, Helvetica,
        sans-serif;\n    background-color:#FFFFFF;\n}\n.error {\n    color: #ff0000;\n\tfont-weight:bold;\n}\n.errortitle
        {\n\tcolor:#ff0000;\n    font-size:medium;\n    font-weight:bold;\n}\n.link
        {\n    color: #00144d;\n}\n.link:hover {\n    color: #737e9d;\n}\n    </style>\n
        \ </head>\n  <body bgcolor=\"#ffffff\">\n    <p align=\"center\">\n      <br/><br/><span
        class=\"errortitle\">Request Failure</span><br/><br/>\n      \n       <strong>The
        following FAILURE message was generated:</strong><br/><br/>\n       <span
        class=\"error\">\n                            We are currently experiencing
        unusually high volumes of usage and are unable to satisfy your request.\n
        \                           <br>Error Code: 777\n                            <br/>\n\t\t\t\t\t\t\t\n\t\t</span>\n\n
        \   <br/><br/>\n    <!-- <a href=\"http://data.companieshouse.gov.uk\" class=\"link\">Click
        here to restart</a> -->\n  </p>\n  </body>\n</html>\n"
  recorded_at: Fri, 13 Jun 2014 13:53:10 GMT
- request:
    method: get
    uri: http://data.companieshouse.gov.uk/doc/company/02050399.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
           "primaryTopic" : {
              "CompanyName" : "ZENITH PRINT (UK) LIMITED",
              "CompanyNumber" : "02050399",
              "RegAddress" : {
                 "AddressLine1" : "ZENITH HOUSE",
                 "AddressLine2" : "MOY ROAD INDUSTRIAL ESTATE",
                 "PostTown" : "TAFFS WELL",
                 "County" : "CARDIFF",
                 "Postcode" : "CF15 7QR"
              },
              "CompanyCategory" : "Private Limited Company",
              "CompanyStatus" : "Active",
              "CountryOfOrigin" : "United Kingdom",
              "IncorporationDate" : "28/08/1986",
              "PreviousNames" : [
                 {
                    "CONDate" : "22/03/1996",
                    "CompanyName" : "ZENITH TREFOREST PRESS LIMITED"
                 }
              ],
              "Accounts" : {
                 "AccountRefDay" : "31",
                 "AccountRefMonth" : "03",
                 "NextDueDate" : "31/12/2014",
                 "LastMadeUpDate" : "31/03/2013",
                 "AccountCategory" : "TOTAL EXEMPTION SMALL"
              },
              "Returns" : {
                 "NextDueDate" : "28/01/2015",
                 "LastMadeUpDate" : "31/12/2013"
              },
              "Mortgages" : {
                 "NumMortCharges" : "6",
                 "NumMortOutstanding" : "2",
                 "NumMortPartSatisfied" : "0",
                 "NumMortSatisfied" : "4"
              },
              "SICCodes" : {
                 "SicText" : [
                    "70100 - Activities of head offices"
                 ]
              }
           }
        }
  recorded_at: Fri, 13 Jun 2014 13:53:17 GMT
recorded_with: VCR 2.9.2
