---
http_interactions:
- request:
    method: get
    uri: http://data.companieshouse.gov.uk/doc/company/05868270.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Temporary internal error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "<html>\n  <head>\n    <meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=iso-8859-1\" />\n    <title>Error Page</title>\n    <style>\nbody
        {\n\tcolor:#000080;\n    font-size:x-small;\n    font-family: Arial, Helvetica,
        sans-serif;\n    background-color:#FFFFFF;\n}\n.error {\n    color: #ff0000;\n\tfont-weight:bold;\n}\n.errortitle
        {\n\tcolor:#ff0000;\n    font-size:medium;\n    font-weight:bold;\n}\n.link
        {\n    color: #00144d;\n}\n.link:hover {\n    color: #737e9d;\n}\n    </style>\n
        \ </head>\n  <body bgcolor=\"#ffffff\">\n    <p align=\"center\">\n      <br/><br/><span
        class=\"errortitle\">Request Failure</span><br/><br/>\n      \n       <strong>The
        following FAILURE message was generated:</strong><br/><br/>\n       <span
        class=\"error\">\n                            We are currently experiencing
        unusually high volumes of usage and are unable to satisfy your request.\n
        \                           <br>Error Code: 777\n                            <br/>\n\t\t\t\t\t\t\t\n\t\t</span>\n\n
        \   <br/><br/>\n    <!-- <a href=\"http://data.companieshouse.gov.uk\" class=\"link\">Click
        here to restart</a> -->\n  </p>\n  </body>\n</html>\n"
  recorded_at: Fri, 13 Jun 2014 13:52:57 GMT
[...]
- request:
    method: get
    uri: http://data.companieshouse.gov.uk/doc/company/05868270.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
           "primaryTopic" : {
              "CompanyName" : "BEEF LTD",
              "CompanyNumber" : "05868270",
              "RegAddress" : {
                 "AddressLine1" : "UNIT 1.10 THE PAINTWORKS",
                 "AddressLine2" : "BATH ROAD",
                 "PostTown" : "BRISTOL",
                 "Postcode" : "BS4 3EH"
              },
              "CompanyCategory" : "Private Limited Company",
              "CompanyStatus" : "Liquidation",
              "CountryOfOrigin" : "United Kingdom",
              "IncorporationDate" : "06/07/2006",
              "Accounts" : {
                 "AccountRefDay" : "31",
                 "AccountRefMonth" : "08",
                 "NextDueDate" : "31/05/2014",
                 "LastMadeUpDate" : "31/08/2012",
                 "AccountCategory" : "TOTAL EXEMPTION SMALL"
              },
              "Returns" : {
                 "NextDueDate" : "03/08/2014",
                 "LastMadeUpDate" : "06/07/2013"
              },
              "SICCodes" : {
                 "SicText" : [
                    "62012 - Business and domestic software development",
                    "63110 - Data processing, hosting and related activities",
                    "63120 - Web portals"
                 ]
              }
           }
        }
  recorded_at: Fri, 13 Jun 2014 13:53:08 GMT
[...]
