<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= t 'registration_mailer.revoke_email.p1',:name=>@registration.companyName, :id=>@registration.regIdentifier%></p>
    <p><%= t 'registration_mailer.revoke_email.p2'%></p>
    <p><%= @registration.metaData.first.revokedReason %></p>
    <p><%= t 'registration_mailer.revoke_email.p3',:phone=>Rails.configuration.registrations_service_phone %></p>
  </body>
</html>
