<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you <%= @user.email %>, you have now registered as a Waste Carrier</h1>
    <p>
      You have successfully signed up to ea-wastecarrier.gov.uk, your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      If your details change, follow this link: <a href="<%= @url %>"><%= @url %></a> to login and ammend your details.
    </p>
    <p>Thanks for registering as a Waste Carrier!</p>
  </body>
</html>
