<div class="inner-payment-box">
    <div class='payment-group'>
    	<%= f.label :registration_fee, class: 'form-label' %>
    	<%= f.text_field :registration_fee, :size =>5, :autocomplete => :off, :maxlength => 4, :disabled=>true, :value => Money.new(@registration.registration_fee) %>
    </div>
</div>
