<%= render 'shared/content_for_pages' %>

<% content_for :page_title, createTitle('global.unauthorised.heading') %>
	<main id="content" role="main" class="group">
		<br/>
		<header class="page-header group">
			<div>
				<h1><%=t 'global.unauthorised.heading'%></h1>
			</div>
		</header>
		<article role="article" class="group">
			<p><%=t 'global.unauthorised.message'%></p>
		</article>
	</main>
