<% content_for :page_title, createTitle('global.notfound.heading') %>
	<main id="content" role="main" class="group">
		<br/>
		<%= notice %><br/>
		<header class="page-header group">
			<div>
				<h1><%=t 'global.notfound.heading'%></h1>
			</div>
		</header>
		<article role="article" class="group">
			<p><%=t 'global.notfound.message'%></p>
		</article>
	</main>