<% content_for :page_title, createTitle('global.unavailable.heading') %>
	<main id="content" role="main" class="group">
		<br/>
		<header class="page-header group">
			<div>
				<h1><%=t 'global.unavailable.heading'%></h1>
			</div>
		</header>
		<article role="article" class="group">
			<p><%=t 'global.unavailable.message_html'%></p>
		</article>
	</main>