<%= render 'shared/content_for_pages' %>
<% content_for :page_title, createTitle('global.maintenance.title') %>

<div id="wrapper">

  <main id="content" role="main" class="group">

		<header class="page-header group">
			<div class="hgroup">
				<h1 class="heading-large"><%=t 'global.maintenance.heading'%></h1>
			</div>
		</header>

    <p class="text">Sorry, this service is currently unavailable.</p>
		<p class="text">{{ reason }}</p>
    <p class="text">Please try again later.</p>
    <p class="text">If you need assistance please contact the Environment Agency on telephone: 03708 506506.</p>

  </main><!-- end main -->
</div><!-- end wrapper -->
