<fieldset>
  <div class="form-group<%if r.errors[:company_no].any?%> validation<%end%>">
    <%= validation_for(r, :company_no) %>
    <%= f.label :company_no, class: 'form-label' %>
    <%= f.text_field :company_no, :size => 14, :maxlength => 10 %>
  </div>
</fieldset>

