<fieldset>
  <legend></legend>

  <h1 class="subtitle"><%= t 'registrations.contactdetails_step.subtitle_upper', business_caption: mode %></h1>
  <p class="group<%if @registration.errors[:companyName].any?%> validation<%end%>">
    <%= validation_for(@registration, :companyName) %>
    <%= f.label t('.businessAddressingMode', addressing_mode: mode) %>
    <%= f.text_field :companyName, :size => 20, :maxlength => 35 %>
  </p>
</fieldset>
