<div class="form-group<%if @registration.errors[:companyName].any?%> validation<%end%>">
    <%= validation_for(@registration, :companyName) %>
    <%= f.label n, for: 'registration_companyName', class: 'form-label' %>
    <%= f.text_field :companyName, :size => 35, :maxlength => 35 %>
</div>
