<% if r.declaredConvictions == 'yes' %>
    <p><%= t 'registrations.newConfirmation.have_declared_convictions' %></p>
<% else %>
    <p><%= t 'registrations.newConfirmation.have_not_declared_convictions' %></p>
<% end %>