

<fieldset class='registration-summary-page'>
  <legend><%= t '.subtitle' %></legend>

  <% if @registration.businessType.eql?('limitedCompany') &&   @registration.tier.eql?('UPPER') %>
    <div class='form-group'>
  <h2><%= t '.key_people_summary_heading' %></h2>
    <ul class='summary-box'>
      <li class='summary-items'><%= render '/key_people/key_people_display' %></li>
    </ul>
      <p><%= link_to t('.edit_key_person_details_link'), registration_key_people_path %></p>
  </div>
  <% end %>
</fieldset>




