<% if @registration.errors.any? %>
    <div id="error_explanation" class="validation-summary">
      <h2><%= t '.errorMessage', :count => pluralize(@registration.errors.count, t('.error')) %></h2>
        <% @registration.errors.full_messages.each do |msg| %>
            <a class="error-text" href="#registration_<%= msg %>"><%= msg %></a>
        <% end %>
    </div>
  <% end %>