<% if @registration.errors.any? %>
    <div id="error_explanation" class="validation-summary">
      <h2><%= t '.errorMessage', :count => pluralize(@registration.errors.count, t('.error')) %></h2>
      <ul>
        <% @registration.errors.full_messages.each do |msg| %>
            <li><a class="error-text" href="#registration_<%= msg %>"><%= msg %></a></li>
        <% end %>
      </ul>
    </div>
  <% end %>