<% if @registration.errors.any? %>
    <div id="error_explanation" class="validation-summary">
      <h2><%= t '.errorMessage', :count => pluralize(@registration.errors.count, t('.error')) %></h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>