<script><!--
  var startUrl = "<%=start_url%>";
//--></script>
<main id="content" role="main" class="group"><article role="article" class="group">

<%= form_for(@registration) do |f| %>

<h1>Waste Carrier Registration</h1>
<h2 class="subtitle">For a lower tier waste carrier/broker/dealer</h2>

<%= render "#{@registration.current_step}_step", :f => f %>

<% end %>
</article></main>