<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page2" data-journey="waste-carriers-registration:noregistration">

  <!-- Smart Answers
    Contact EA message when 'other' businessType selected
   -->
  <div id="contactText">
    <div class="form-group">
      <p class="font-larger"><%= t '.contact_Line_1' %></p>
      <p class="font-larger"><%= t '.contact_Line_2' %></p>
    </div>
  </div>

</div>

<%= render 'wizard_links' %>
