<%= render "errors" %>

<!-- WF 4.3.1 -->
<div id="page2" data-journey="waste-carriers-registration:noregistration">

  <!-- Smart Answers
    Contact EA message when 'other' businessType selected
   -->
  <header class="page-header group">
      <div class="hgroup"> 
        <h1 class="heading-large"><%= t 'registrations.noregistration_step.subtitle' %></h1>
      </div>
  </header> 

  <div id="contactText">
    <div class="text">
      <p><%= t '.contact_Line_1' %></p>
      <p><%= t '.contact_Line_2' %></p>
    </div>
  </div>

</div>
