<div class='form-group'>
  <h2><%= t 'registrations.confirmation_step.dynamic_panel_heading' %></h2>
  <ul class='summary-box'>
    <li><%= t 'registrations.confirmation_step.tier_description', tier_with_article: @registration.tier.downcase.with_indefinite_article %></li>
  </ul>
</div>