<div class='form-group'>
  <h2>New or renewal registration dynamic panel</h2>
  <ul class='summary-box'>
    <li>You are creating a new registration; or</li>
    <li>You are renewing your application. (All content here needs translation)</li>
  </ul>
</div>