<div class='form-group'>
  <h2>Dynamic panel: to provide context of user route</h2>
  <ul class='summary-box'>
    <li>You are a <%= @registration.tier.downcase %> tier waste carrier&hellip;</li>
  </ul>
</div>