<%= render 'shared/content_for_pages' %>

<div id="wrapper">

  <main id="content" role="main" class="group">

    <div class="back-section">
        <ol>
          <li></li>
        </ol>
    </div>

    <header class="page-header group">
      <div class="hgroup">
          <h1 class="heading-large">Please log in again...</h1>
      </div>
    </header>

  </main><!-- end main -->
</div><!-- end wrapper -->
