<% content_for :page_title, "Confirm delete registration - GOV.UK" %>

<main id="content" role="main" class="group">
<article role="article" class="group">

<h1>Confirm delete registration</h1>
<% content_for :page_title, "Confirm delete registration - GOV.UK" %>

<%= form_for @registration, :method => 'delete' do |f| %>

  <p>Are you sure that you want to delete registration <b><%= @registration.companyName %></b>?</p>
  <p class="action group">
    <%= link_to t('registrations.form.back_button_label'), userRegistrations_path(current_user.id), :class => 'button-secondary' %>
    <input id="delete" name="delete" class="button delete" type="submit" value="Delete registration"/>
  </p>
<% end %>

</article>
</main>