<main id="content" role="main" class="group"><article role="article" class="group">

<%= form_for(@registration, :url => newBusiness_path) do |f| %>

<%= render "business_step", :f => f %>

<% end %>
</article></main>