<%= render 'shared/content_for_pages' %>
<div id="wrapper">
<main id="content" role="main" class="group">
  <article role="article" class="group">
  	<section>
    		<% content_for :page_title, createTitle('registrations.businesstype_step.title') %>
    		<%= form_for(@registration, :url => newBusinessType_path) do |f| %>
      		<%= render "businesstype_step", :f => f %>
    		<% end %>
	</section>
  </article>
</main>
</div>
