<main id="content" role="main" class="group"><article role="article" class="group">

  <%= form_for(@registration, :url => newBusinessType_path) do |f| %>

      <%= render "businesstype_step", :f => f %>

  <% end %>
</article></main>