<%= render 'shared/content_for_pages' %>
<main id="content" role="main" class="group">
  <article role="article" class="group">

    <h2>Amount owed: TODO</h2>

    <p>Please either:</p>
    <ul>
      <li>Make a bank transer to account number X and sort code Y</li>
      <li>Post a cheque to Z</li>
    </ul>

    <%= render 'wizard_links' %>
  </article>
</main>
