<main id="content" role="main" class="group"><article role="article" class="group">

  <%= form_for(@registration, :url => newOnlyDealWith_path) do |f| %>

      <h1 class="subtitle"><%= t 'registrations.form.subtitle' %></h1>

      <%= render "onlydealwith_step", :f => f %>

  <% end %>
</article></main>