<%= render 'shared/content_for_pages' %>
<main id="content" role="main" class="group">
  <article role="article" class="group">

    <h2>How to pay</h2>

    <p>Please initiate a bank transfer for £X to</p>

    <ul>
      <li>Sort code: Y</li>
      <li>Account Number: Z</li>
    </ul>

    <%= render 'wizard_links' %>
  </article>
</main>
