<%= render 'shared/content_for_pages' %>
<main id="content" role="main" class="group">
  <article role="article" class="group">

    <% content_for :page_title, createTitle('registrations.contactdetails_step.title') %>

    <%= form_for(@registration, :url => newUpperContactDetails_path) do |f| %>

      <%= render 'contactdetails_step', f: f%>

    <% end %>
  </article>
</main>
