<%= render 'shared/content_for_pages' %>

<% content_for :page_title, createTitle('.heading') %>

<main id="content" role="main" class="group"><article role="article" class="group">

  <p>Your registration is pending payment</p>

</article></main>