<script><!--
  var startUrl = "<%=start_url%>";
//--></script>
<main id="content" role="main" class="group"><article role="article" class="group">

<%= form_for(@registration, url: print_url(:id => @registration.id)) do |f| %>

<h1>Waste Carrier Registration</h1>
<h2 class="subtitle">For a lower tier waste carrier, broker or dealer</h2>

<p>&lt;Print specific text could go here&gt;</p>

<div class="print-section">
<%= render "details", :f => f %>
</div>

<% end %>
</article></main>