<main id="content" role="main" class="group"><article role="article" class="group">

<h1>Waste Carrier Registration</h1>
<h2 class="subtitle">For a lower tier waste carrier/broker/dealer</h2>

<p>Register your business or organisation as a lower tier waste carrier/broker/dealer.</p>

<p>It's <b>free</b> and should take less than <b>5 minutes</b>.</p>



<form action="<%=new_registration_path%>">
<button class="button">Begin registration &gt;</button>
</form>

<p>Any information will be lost after 20 minutes of inactivity.</p>

<p><a href="#">Find out if you need to register and which category applies</a></p>

<p>
Registration as a lower tier waste carrier/broker/dealer is only permitted in the following circumstances:
<br/>1. You are a charity or voluntary organisation.
<br/>2. You are a waste collection authority, a waste disposal authority or a waste regulation authority.
<br/>3. You are a business which only transports waste you have produced as part of your normal business activities, except where it is construction or demolition waste.
<br/>4. You only handle: (i) animal by-products; (ii) waste from a mine or quarry; or (iii) waste from premises used for agriculture.
</p>

</article></main>