<main id="content" role="main" class="group"><article role="article" class="group">

<h1>Waste Carrier Registration</h1>
<h2 class="subtitle">For a lower tier waste carrier, broker or dealer</h2>

<p>This free service allows you to register your company or organisation as a lower tier carrier broker or dealer within approximately 5 minutes.</p>

<p class="note">Please note that any information will be lost if no activity has happened on a page for over 20 minutes.</p>

<form action="<%=new_registration_path%>">
<button class="button">Begin registration &gt;</button>
</form>

<p>Find out whether you need to register, including which waste category applies to your business or organisation by using the guidance service.</p>

<p><a href="#">Do I need to register?</a></p>

</article></main>