<div class="inner-block">
  <div class="phase-banner blue-header" id="global-beta-message">
    <p><strong class="phase-tag"><%=t 'global.betaMessage'%></strong>
      <span><%=t 'global.betaMessage_html'%></span>
    </p>
  </div>
</div>

<%= render 'shared/google_data_layer' %>

<% if Time.zone.now.hour == 2  && !ENV.has_key?('DISABLE_NIGHTLY_WARNING') %>
  <div class="warning-banner">
    <div class="inner-block">
      <p><%= t('global.nightly_downtime_warning') %></p>
    </div>
  </div>
<% end %>
