<div class="inner-block"><div class="phase-banner" id="global-beta-message"><p><strong class="phase-tag"><%=t 'global.betaMessage'%></strong><span><%=t 'global.betaMessage_html'%></span></p></div></div>

