<%= render 'shared/content_for_pages' %>

<div id="wrapper">
  <main id="content" role="main" class="group">
    <div class="text">
      <h1 class="heading-large">
        Waste carriers, brokers and dealers privacy policy
      </h1>

      <h2 class="heading-medium">
        How we use your personal information
      </h2>
      <p>
        We are the Environment Agency and we run the Waste Carriers, Brokers and Dealers service. We are the data controller for this service. A data controller determines how and why personal data (personal information) is processed.
      </p>
      <p>
        Our <a href="https://www.gov.uk/government/organisations/environment-agency/about/personal-information-charter">personal information charter</a> explains your rights and how we deal with your personal information. You can access the charter using the link or go to GOV.UK and search 'Environment Agency personal information charter'.
      </p>

      <h2 class="heading-medium">
        The data we need
      </h2>
      <p>
        The personal data we collect about you includes:
      </p>
      <ul class="list list-bullet">
        <li>the name and address of your business or organisation</li>
        <li>contact details</li>
        <li>date of birth</li>
        <li>details of relevant criminal convictions</li>
      </ul>
      <p>
        We are allowed to process your personal data because we have official authority to register waste carriers, brokers and dealers. The lawful basis for processing your personal data is to exercise our official authority that is set out in law.
      </p>
      <p>
        We process personal data relating to criminal convictions and offences under the same official authority.
      </p>

      <h2 class="heading-medium">
        What we do with your personal data
      </h2>

      <p>
        We collect and store this data in order to process your transaction and register you as a waste carrier, broker or dealer. We do not store payment details. If you don't provide the information requested, we cannot register you as a waste carrier, broker or dealer.
      </p>
      <p>
        We will use the personal data you provide about criminal convictions for making a decision about whether you can register as a waste carrier. If you disclose that a person in the company’s management has a relevant criminal conviction, your application to register as a waste carrier could be refused.
      </p>
      <p>
        We put some of the information from your registration on a public register. Only the name and address of your organisation will appear on the public register.
      </p>
      <p>
        We will not share or disclose any further personal data to any party outside the Environment Agency without your explicit consent unless we are lawfully able to do so.
      </p>
      <p>
        We store and process your personal data on our servers within the European Economic Area (EEA). We will not transfer your personal data outside the EEA.
      </p>
      <p>
        We do not use your personal data to make an automated decision or for automated profiling.
      </p>

      <h2 class="heading-medium">
        How long we keep your personal data
      </h2>
      <p>
        Personal data in an upper-tier registration is kept for 7 years after a registration has ended.
      </p>
      <p>
        Lower-tier registrations are non-expiring, and personal data is retained unless you request it is removed. To request that your personal data is removed, please contact the Environment Agency helpline on 03708 506 506.
      </p>

      <h2 class="heading-medium">
        Contact details
      </h2>
      <p>
        Our Data Protection Officer (DPO) is responsible for independent advice and monitoring of the Environment Agency’s use of personal information.
      </p>
      <p>
        If you have any concerns or queries about how we process personal data, or if you would like to make a complaint or request relating to data protection, please contact:
      </p>
      <p>
        Address:<br>
        Data Protection Officer<br>
        Environment Agency<br>
        Horizon House<br>
        Deanery Road<br>
        Bristol<br>
        BS1 5AH
      </p>
      <p>
        Email: <a href="mailto:dataprotection@environment-agency.gov.uk">dataprotection@environment-agency.gov.uk</a>
      </p>
      <p>
        The Information Commissioner's Office (ICO) is the supervisory authority for data protection legislation. The <a href="https://ico.org.uk/your-data-matters">ICO website</a> has a full list of your rights under data protection legislation.
      </p>
      <p>
        You have the right to <a href="https://ico.org.uk/make-a-complaint">lodge a complaint with the ICO</a> at any time.
      </p>
      <div class="app-c-published-dates">
        This notice was last updated on 26 March 2019.
      </div>
    </div>
  </main>
</div>
