<main id="content" role="main" class="group">
<article role="article" class="group">

<h1>GOV.UK Waste Carriers Registration Service</h1>
<p>Version numbers:
</p>
<div id="versionDetails" data-journey="waste-carriers-registration:version">
Frontend Version: <%= @railsVersion %><br/>
Services Version: <%= @apiVersion %><br/>
<br/>
Page rendered at: <%= Time.now %>
</div>
</article>
</main>


