<%= render 'shared/content_for_pages' %>

<div id="wrapper">
  <main id="content" role="main" class="group">

    <header class="page-header group">
      <div class="hgroup">
        <h1 class="heading-xlarge"><%= t '.title' %></h1>
      </div>
    </header>

    <div id="wrapper" data-journey="waste-carriers-registration:password-changed"></div>

    <p class="text"><%= t '.paragraph1' %></p>
    <p class="text"><%= t '.paragraph2' %></p>

  </main><!-- end content -->
</div><!-- end wrapper -->
