---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/OC379171
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <COMPANIES_HOUSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '593'
      X-Ratelimit-Reset:
      - '1517927615'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"date_of_creation":"2012-10-10","type":"llp","jurisdiction":"england-wales","company_name":"OC
        LAW LLP","registered_office_address":{"region":"South Yorkshire","locality":"Sheffield","postal_code":"S9
        1TP","address_line_2":"250 Shepcote Lane","address_line_1":"Pm House"},"company_number":"OC379171","has_been_liquidated":false,"status":"active","accounts":{"next_accounts":{"period_end_on":"2018-03-31","due_on":"2018-12-31","period_start_on":"2017-04-01","overdue":false},"last_accounts":{"period_start_on":"2016-04-01","made_up_to":"2017-03-31","period_end_on":"2017-03-31"},"next_made_up_to":"2018-03-31","overdue":false,"next_due":"2018-12-31","accounting_reference_date":{"month":"03","day":"31"}},"undeliverable_registered_office_address":false,"has_insolvency_history":false,"etag":"0b34e1fe2a1d437fb652baffa96974f9f08a874c","company_status":"active","has_charges":false,"confirmation_statement":{"next_due":"2018-10-24","last_made_up_to":"2017-10-10","overdue":false,"next_made_up_to":"2018-10-10"},"links":{"self":"/company/OC379171","filing_history":"/company/OC379171/filing-history","officers":"/company/OC379171/officers","persons_with_significant_control":"/company/OC379171/persons-with-significant-control"},"registered_office_is_in_dispute":false,"can_file":false}'
  recorded_at: Tue, 06 Feb 2018 14:28:03 GMT
recorded_with: VCR 3.0.3
