<main id="content" role="main" class="group"><article role="article" class="group">
<h1>TODO - Worldpay Payment Cancelled</h1>
<p>You have cancelled your payment.</p>
<p>
<%= params.inspect %>
</p>
<%= link_to 'Back to payment', upper_payment_path %>
</article></main>
