<main id="content" role="main" class="group"><article role="article" class="group">
 <section>
    <div class="inner">
      <div class="col-1">	
<h1>TODO - Worldpay Payment Pending</h1>
<p>Your payment is pending. If you are paying offline please send in your payment.</p>
<p>
<%= params.inspect %>
</p>

    </div>
  </div>
</section>
</article></main>
