<h1>TODO - Worldpay Refund</h1>
<p>This page will go away...</p>


<%= form_tag(:url => worldpay_refund_path) do |f| %>

  <%= text_field_tag(:notification) %>

  <p class="action group"><%= submit_tag "POST", :class => "button" %></p>

<% end %>