<%= render 'shared/content_for_pages' %>

<div id="wrapper">

<main id="content" role="main" class="group">

  <div class="back-section">
      <ol>
        <li></li>
      </ol>
  </div>

  <header class="page-header group">
    <div class="hgroup">
        <h1 class="heading-large">TODO - Worldpay Refund</h1>
    </div>
  </header>

  <section>

      <p>This page will go away...</p>

      <%= form_tag(:url => worldpay_refund_path) do |f| %>

      <%= text_field_tag(:notification) %>

      <p class="action group"><%= submit_tag "POST", :class => "button" %></p>

      <% end %>

  </section>

  </main><!-- end main -->
</div><!-- end wrapper -->