---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/00445790
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <COMPANIES_HOUSE_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '588'
      X-Ratelimit-Reset:
      - '1517927615'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"accounts":{"overdue":false,"last_accounts":{"type":"group","period_end_on":"2017-02-25","made_up_to":"2017-02-25","period_start_on":"2016-02-28"},"next_accounts":{"period_end_on":"2018-02-26","due_on":"2018-08-26","period_start_on":"2017-02-26","overdue":false},"accounting_reference_date":{"month":"02","day":"26"},"next_due":"2018-08-26","next_made_up_to":"2018-02-26"},"company_name":"TESCO
        PLC","undeliverable_registered_office_address":false,"type":"plc","sic_codes":["47110"],"registered_office_address":{"country":"United
        Kingdom","address_line_2":"Kestrel Way","locality":"Welwyn Garden City","address_line_1":"Tesco
        House, Shire Park","postal_code":"AL7 1GA"},"jurisdiction":"england-wales","company_number":"00445790","has_been_liquidated":false,"date_of_creation":"1947-11-27","last_full_members_list_date":"2013-06-07","company_status":"active","etag":"ca5769f09c104a0cd5997dcf7c1912aa1f3fe7b5","has_charges":true,"has_insolvency_history":false,"previous_company_names":[{"effective_from":"1947-11-27","ceased_on":"1983-08-25","name":"TESCO
        STORES (HOLDINGS) PUBLIC LIMITED COMPANY"}],"confirmation_statement":{"last_made_up_to":"2017-06-07","next_made_up_to":"2018-06-07","next_due":"2018-06-21","overdue":false},"links":{"self":"/company/00445790","filing_history":"/company/00445790/filing-history","officers":"/company/00445790/officers","charges":"/company/00445790/charges"},"registered_office_is_in_dispute":false,"can_file":true}'
  recorded_at: Tue, 06 Feb 2018 14:28:04 GMT
recorded_with: VCR 3.0.3
