@import '_colours';
@import '_css3';
@import '_shims';
@import '_typography';
@import '_measurements';
@import 'grid_layout';

@import 'design-patterns/_alpha-beta';
@import 'design-patterns/_buttons';

@import '_url-helpers';
@import '_conditionals';
@import '_device-pixels';
@import '_font_stack';


/* Form Elements  ========================================================== */


form {

}

fieldset {

}

legend {

}


.form-group {
  float: left;
  width: 100%;
    @extend %contain-floats;
    margin-bottom: $gutter-half;
    @include media(tablet) {
    margin-bottom: $gutter;
  }
}

/* Form labels */

.form-label,
.form-label-bold {
  display: block;
  color: $text-colour;
}

.form-label {
  @include core-19;
  margin-bottom: 5px;
}

// Form controls

.form-control {
  @include core-19;
  @include box-sizing(border-box);
  padding: 4px;
  background-color: $white;
  border: 1px solid $border-colour;
  -webkit-appearance: none;
  border-radius: 0;
    @include media(tablet) {
    width: 50%;
  }
}

// Form control widths

.form-control-1-8 {
  width: 12.5%;
    @include core-19;
    @include box-sizing(border-box);
    padding: 4px;
    background-color: $white;
    border: 1px solid $border-colour;
    -webkit-appearance: none;
    border-radius: 0;
    @include media(mobile) {
    width: 25%;
  }
}

.form-control-1-4 {
  width: 25%;
    @include core-19;
    @include box-sizing(border-box);
    padding: 4px;
    background-color: $white;
    border: 1px solid $border-colour;
    -webkit-appearance: none;
    border-radius: 0;
      @include media(mobile) {
      width: 50%;
  }
}

.form-control-1-2 {
  width: 50%;
    @include core-19;
    @include box-sizing(border-box);
    padding: 4px;
    background-color: $white;
    border: 1px solid $border-colour;
    -webkit-appearance: none;
    border-radius: 0;
  @include media(mobile) {
    width: 100%;
  }
}

.form-control-3-4 {
  width: 75%;
    @include core-19;
    @include box-sizing(border-box);
    padding: 4px;
    background-color: $white;
    border: 1px solid $border-colour;
    -webkit-appearance: none;
    border-radius: 0;
  @include media(mobile) {
    width: 100%;
  }
}


/* Block-labels */

.block-label {
  display: block;
  float: none;
  clear: left;
  position: relative;

  background: $panel-colour;
  border: 1px solid $panel-colour;
  padding: (18px $gutter $gutter-half $gutter*1.5);
  margin-top: 10px;
  margin-bottom: 10px;

  cursor: pointer;

  @include media(tablet) {
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  input {
    position: absolute;
    top: 18px;
    left: $gutter-half;
    cursor: pointer;
  }

  &:hover {
    border-color: $black;
  }
}

// Selected and focused states

// Add selected state
.js-enabled label.selected {
  background: $white;
  border-color: $black;
}

// Add focus to block labels
.js-enabled label.focused {
  outline: 3px solid $yellow;
}

// Remove focus from radio/checkboxes
.js-enabled .focused input:focus {
  outline: none;
}

// Only if JavaScript is enabled
// Add focus styles to block labels
.js-enabled .add-focus {
  outline: 3px solid $yellow;
}

// Remove focus styles from radio and checkbox inputs
.js-enabled .block-label input:focus {
  outline: none;
}

// Add selected state to block labels
.js-enabled .selected {
  background: $white;
  border-color: $black;
}

// Hide date of birth
.touch .inline-date {
  display: none;
}

// Hide native date of birth
.no-touch .inline-date {
  display: none;
}

// Show native date of birth
.touch .inline-date {
  display: block;
}

// Set a minimum height for date inputs
.touch input[type="date"] {
  min-height: 36px;
}


/* Inline elements ========================================================== */

.inline {
  @include media (mobile){
    box-sizing: border-box;
    font-size: 19px;
    clear: both;
    margin: 0em 0em 1.1em 0em;
    width: 100%;
  }
}

.inline .block-label {
  clear: none;
  margin-right: 10px;
}

.inline-block {
  display:inline-block;
}

.form-text {
  @include copy-19;
  float: left;
  clear:both;
}

.block {
  display:block;
  margin-top: $gutter;
}

/* Buttons ========================================================== */

.button {
  @include button ;
    display: inline;
    float: none;
    clear: left;
    position: relative;
}

.button-secondary {
  @include button ($grey-3);
    display: block;
    float: none;
    clear: left;
    position: relative;
}

.button-warning {
  @include button ($red);
    display: block;
    float: none;
    clear: left;
    position: relative;
}

#continue {
  @include media (mobile){
    box-sizing: border-box;
    font-size: 19px;
    text-align: center;
    clear: both;
    width: 100%;
  }
}

/* Address look-up */

.postcode-entry {
  width: 25%;
  margin-bottom:15px;
  margin-right:5px;
  display:inline;
  @include box-sizing(border-box);
    @include media (mobile){
    width:100%;
   }
 }

#find_address {
  width: 25%;
  vertical-align:top;
  @include media (mobile){
  width:100%;
 }
}

#sPostcode {
  width: 24%;
  margin-bottom:15px;
  vertical-align:top;
  @include media (mobile){
  width:100%;
 }
}

.addressSelector {
  width: 50%;
  @include core-19;
  @include box-sizing(border-box);
  padding: 4px;
  background-color: $white;
  border: 1px solid $border-colour;
  border-radius: 0;
    @include media(mobile) {
    width: 100%;
  }
}

/* Date of birth ========================================================== */

.inline-date {
  display:inline-block;
}

#date-subtitle {
  margin:0;
}

.inline-date .form-group {
  width: 50px;
  float: left;
  margin-right: 20px;
  clear: none;
}

.form-date-day {
  @include core-19;
  @include box-sizing(border-box);
  padding: 4px;
  background-color: $white;
  border: 1px solid $border-colour;
  -webkit-appearance: none;
  border-radius: 0;
    @include media(mobile) {
    width: 100%;
  }
}

.form-date-month {
  @include core-19;
  @include box-sizing(border-box);
  padding: 4px;
  background-color: $white;
  border: 1px solid $border-colour;
  -webkit-appearance: none;
  border-radius: 0;
    @include media(mobile) {
    width: 100%;
  }
}

.form-date-year {
  @include core-19;
  @include box-sizing(border-box);
  padding: 4px;
  background-color: $white;
  border: 1px solid $border-colour;
  -webkit-appearance: none;
  border-radius: 0;
    @include media(mobile) {
    width: 100%;
  }
}
