@import '_colours';
@import '_css3';
@import '_shims';
@import '_typography';
@import '_measurements';
@import 'grid_layout';

@import 'design-patterns/_alpha-beta';
@import 'design-patterns/_buttons';

@import '_url-helpers';
@import '_conditionals';
@import '_device-pixels';
@import '_font_stack';


/* Body  */

.js {
background-color: $panel-colour;
margin: 0;
padding: 0;
vertical-align: baseline;
display: block;
}

.js-enabled {
  background-color: $page-colour;
}

/* Header bar ========================================================== */

.header-bar {
  display:none;
}

.blue-header {
  border-top: 10px solid $link-colour;
}

#proposition-menu {
  position:relative;
  top:5px;
  @include media (mobile) {
    padding-left:$gutter-half;
    top:-5px;
  }
}

/* Phase banner ========================================================== */

.phase-banner {
  @include phase-banner($state: beta);
  @include outer-block;
  max-width: 960px;
}

/* Wrapper ========================================================== */

#wrapper {
  @include outer-block;
}

/* Content ========================================================== */

#content {
  @include inner-block;
  text-align: left;
  padding-bottom: $gutter;
}

/* Page header ========================================================== */

.page-header {
  max-width: 30em;
}

/* Related positioning ========================================================== */

.related {
    border-top: 10px solid rgb(0, 94, 165);
}

.related h2 {
 @include bold-24;
 margin-top: $gutter-half;
}

.related .inner {
    width: auto;
    margin: 0 auto;
}

.related ul {
   list-style: none outside none;
}

.related li {
    margin-bottom: 0.75em;
    padding-left: 0;
}

.related li a {
    display: block;
    line-height: 1.25em;
    margin-bottom: 0.75em;
    @include core-16;
}

.related li p {
    display: block;
    line-height: 0.25em;
    @include core-19;
    padding: 0;
}

/* Block positioning ========================================================== */

.inner-block {
  @include inner-block;
}
.inner-outer {
  @include outer-block;
}

/* EA Footer ========================================================== */

.ea-footer {
 @include inner-block;
  @include copy-16;
}

.ea-footer li {
 margin-right: $gutter-half;
}



