// Cribbed from https://home-office-digital-patterns.herokuapp.com/components/pagination
.pagination .pagination_list-items {

  li {
    display: inline-block;
    a {
      // @extend .bold-small;
      color: $govuk-blue;
      display: inline-block;
      padding: 15px 5px 10px 5px;
      margin-right: 15px;
      text-decoration: none;

      &:focus {
        outline: 0;
      }
    }
    &.active a,
    &.active a:hover {
      color: $govuk-blue;
      -webkit-box-shadow: inset 0px -5px 0px 0px $govuk-blue;
      -moz-box-shadow: inset 0px -5px 0px 0px $govuk-blue;
      box-shadow: inset 0px -5px 0px 0px $govuk-blue;
    }
  }
}

.pagination {
  padding: 0;
}

.pagination__item {
  display: inline-block;
  list-style: none;
}

.pagination__link {
  display: block;
  padding: 5px 10px;
  text-decoration: none;

  &:hover, &:focus {
    background: $highlight-colour;
    outline: 3px solid #ffbf47; // Should be $focus-colour, but template is out-of-date
  }

  &:focus {
    // Not required in back-office due to different template version
    // Without this, focusing on the link causes it to move out of alignment
    overflow: visible;
  }

  &.current {
    color: $text-colour;
    font-weight: 700;
    border: none;
    pointer-events: none;
    cursor: default;

    &:hover, &:focus {
      color: $text-colour;
      background: none;
    }
  }
}

.pagination__summary {
  padding: 15px 0;

  @media (min-width: 642px) {
    float: right;
  }
}
