@import '_colours';
@import '_css3';
@import '_shims';
@import '_typography';
@import '_measurements';
@import 'grid_layout';

@import 'design-patterns/_alpha-beta';
@import 'design-patterns/_buttons';

@import '_url-helpers';
@import '_conditionals';
@import '_device-pixels';
@import '_font_stack';

/* Summary page ========================================================== */

.summary-page {
  max-width:30em;
}

.list-bullets li {
  list-style-type:disc;
  position:relative;
  left:1em;
}

.summary-page .form-group {
  margin-bottom: $gutter;
    @include media (mobile) {
    margin-bottom: $gutter-half;
  }
}

.summary-page .form-group h2 {
  border-top: 1px solid rgb(191, 193, 195);
  padding-top: $gutter;
}

.end-summary {
  border-bottom: 1px solid rgb(191, 193, 195);
  padding-bottom: 45px;
}

//Declaration section

.summary-page .form-group h3 {
  border-top: 2px solid rgb(191, 193, 195);
  padding-top: $gutter-half;
  padding-bottom: $gutter-half;
}

.summary-page .panel-indent ol li {
  list-style-type:disc; position:relative; left:1em;
}

.summary-page .panel-indent {
  margin-bottom: $gutter;
}

.summary-page .declaration {
  margin-top: $gutter*3;
}

.privacy-data a {
  display:inline;
}


/* Payment summary page ========================================================== */

#payment-summary-table {
  margin-top: -1em;
}

.payment-copycard-page
.form-label {
  display:inline;
}

.currency-container {
  float:right;
}

.currency-container
.form-control-1-8 {
  @include core-19;
}

.payment-copycard-page
.currency-sign {
  display:inline;
}

input#registration_outstanding_balance,
input#registration_registration_fee,
input#registration_copy_card_fee,
input#registration_total_fee {
  border:none;
  text-align:left;
  background-color: transparent;
  display:inline;
  padding: 5px 5px 5px 0px;
  width:4em;
  color: #0b0c0c;
}

input#registration_copy_cards {
  width:5em;
  margin-bottom:0.4em;
}

#registration_copy_cards {
  margin-top: 5px;
}


//Copy card image

.image-holder img {
  width:60%;
  height:100%;
  padding:0px;
  margin:0px;
  position:relative;
  left:-0.8em;
  @include media (mobile) {
    width:60%;
    height:100%;
  }
 }

//Payment option buttons

.payment-option {
 display:block;
 vertical-align: top;
 max-width:15em;
 box-sizing: border-box;
 margin-right:1em;
}

.payment-option .panel-indent {
  width: 100%;
  @include core-16;
}

#offline_pay_button,
#worldpay_button {
  @include media (mobile){
    box-sizing: border-box;
    font-size: 19px;
    text-align: center;
    clear: both;
    width: 125%;
    padding: 0.3em 0.6em 0.2em 0.6em;
  }
}

/* Registration complete page ============================================= */

.completeSummary {
  background-color: $button_colour;
  padding:$gutter;
  color: $page-colour;
  text-align: center;
  margin-top:$gutter-half;
  margin-bottom:$gutter-half;
}

.almostComplete,
.criminallySuspect {
  background-color: $light-blue;
  padding:$gutter;
  color: $page-colour;
  text-align: center;
  margin-bottom:$gutter-half;
}

.completeSummaryTitle {
  @include bold-48;
}

.completeSummaryMessage {
  @include bold-19;
}

.summary-box {
  margin-top: $gutter;
}

.heading-with-border {
  border-top: 1px solid $grey-2;
  padding-top: $gutter-half;
}
