@import '_colours';
@import '_css3';
@import '_shims';
@import '_typography';
@import '_measurements';

@import 'design-patterns/_alpha-beta';
@import 'design-patterns/_buttons';

@import '_url-helpers';
@import '_conditionals';
@import '_device-pixels';
@import '_font_stack';

/* Summary page ========================================================== */

.summary-page {
  max-width:30em;
}

.list-bullets li {
  list-style-type:disc; position:relative; left:1em;
}

.summary-page .form-group {
  margin-bottom: $gutter;
}

.summary-page .form-group h2 {
  border-top: 1px solid rgb(191, 193, 195);
  border-bottom: 1px solid rgb(191, 193, 195);
  padding-top: $gutter-half/2;
  padding-bottom: $gutter-half/2;
}

//Declaration section

.summary-page .form-group h3 {
  border-top: 2px solid rgb(191, 193, 195);
  padding-top: $gutter-half;
  padding-bottom: $gutter-half;
}

.summary-page .panel-indent ol li {
  list-style-type:disc; position:relative; left:1em;
}

.summary-page .panel-indent {
  margin-bottom: $gutter;
}

.summary-page .declaration {
  margin-top: $gutter*3;
}

.privacy-data a {
  display:inline;
}


/* Payment summary page ========================================================== */


.payment-copycard-page
.form-label {
  display:inline;
}

.currency-container {
  float:right;
}

.payment-copycard-page
.currency-sign {
  display:inline;
}

input#registration_registration_fee,
input#registration_copy_card_fee,
input#registration_total_fee {
  border:none;
  text-align:right;
  background-color: white;
  display:inline;
}

input#registration_copy_cards {
  width:5em;
}

#registration_copy_cards {
  margin-top: $gutter-half;
}


//Copy card image

.copy-card li p {
  @include core-16;
}

.image-holder {
  border: 1px solid rgb(191, 193, 195);
}

.grid-1-3 figcaption {
  margin-bottom: $gutter-half;
}

.copy-card .img {
  width:100%
}

.inner-block img {
  padding: 10px 0px 0px 5px;
}

#copy-card-text li p {
  @include core-16;
}

//Payment option buttons

.payment-option {
 display:inline-block;
 vertical-align: top;
 max-width:15em;
}

.payment-option p {
  @include core-16;
}

/* Electronic transfer page ========================================================== */

#payment-table-wrapper {
  max-width:35em;
}

.iban-instructions {
  @include bold-19;
}

.table-column-text {
  width:15em;
  @include media(mobile) {
    width:10em;
  }
}

/* Registration complete page ============================================= */

.summary-box {
  color: $page-colour;
  padding: 0em;
  text-align: center;
  margin-top: $gutter-half;
  margin-bottom: $gutter-half;
}

.almostComplete,
.criminallySuspect {
  background-color: $orange;
  padding:2em;
}

.complete {
  background-color: $turquoise;
  padding:2em;
}

.completeSummaryTitle {
  @include bold-36;
  margin-bottom: $gutter-half;
}

.completeSummaryMessage {
  @include bold-19;
}










