@import '_colours';
@import '_css3';
@import '_shims';
@import '_typography';
@import '_measurements';
@import 'grid_layout';

@import 'design-patterns/_alpha-beta';
@import 'design-patterns/_buttons';

@import '_url-helpers';
@import '_conditionals';
@import '_device-pixels';
@import '_font_stack';

/* Field validation -------------------------------*/

/* validation summary */

.validation-summary {
  max-width:25em;
  border: 3px solid $error-colour;
  padding: $gutter-half $gutter;
  margin-bottom: $gutter;
  @include core-19;
    @include ie-lte(6){
    zoom: 1;
  }
}

.validation-summary .error-text {
  color: $error-colour;
}

.validation-summary a:hover {
  color: $error-colour;
  text-decoration: underline;
}

.validation-summary li {
  list-style-type:none;
  text-decoration: none;
}

.validation-summary a {
  text-decoration: none;
  color: $error-colour;
  @include ie-lte(6) {
    color: $error-colour !important;
  }
}

.error-text {
  color: $error-colour;
  display:inherit;
  @include media (mobile){
    font-size: 16px;
  }
}

.validation,
.validation form-label,
#validation-postcode {
  border-left: 3px solid $error-colour;
  list-style: none;
  padding: 0.5em 0.5em 0.5em 1em;
}

.validation .block-label {
  @include media (mobile){
    box-sizing: border-box;
    margin-right: 15px;
  }
}

.validation .form-control-1-2 {
  @include media (mobile){
    width: 95%;
  }
}

.validation .inline {
  display: block;
  @include media (mobile){
    font-size: 16px;
  }
}

.validation .postcode-entry {
  @include media (mobile){
    width:95%;
   }
 }

.validation #find_address {
  @include media (mobile){
  width:95%;
 }
}

.validation #sPostcode {
  @include media (mobile){
  width:95%;
 }
}





