@import '_colours';
@import '_css3';
@import '_shims';
@import '_typography';
@import '_measurements';

@import 'design-patterns/_alpha-beta';
@import 'design-patterns/_buttons';

@import '_url-helpers';
@import '_conditionals';
@import '_device-pixels';
@import '_font_stack';

/* Field validation -------------------------------*/

/* validation summary */

.validation-summary {
  max-width:25em;
  border: 3px solid $error-colour;
  padding: $gutter-half $gutter;
  margin-bottom: $gutter;
  background: none repeat scroll 0 0 rgb(254, 225, 230);
  @include core-19;
    @include ie-lte(6){
    zoom: 1;
  }
}

.validation-summary a {
  text-decoration: none;
}

.validation-summary .error-text {
  color: $error-colour;
}

.validation-summary a:hover {
  color: $error-colour;
  text-decoration: underline;
}

.validation-summary a {
  color: $error-colour;
  @include ie-lte(6) {
    color: $error-colour !important;
  }
}

.error-text {
  color: $error-colour;
}

.validation-summary .error-text {
  list-style-type:none;
  text-decoration: none;
}

.validation,
.validation form-label,
#validation-postcode {
  border-left: 3px solid $error-colour;
  list-style: none;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 1em;
}

.validation .block-label {
  float:none;
  max-width:23.5em;
}

