//@ Imported design styles from GOV.UK github
@import 'design-patterns/_alpha-beta';
@import '_url-helpers';
@import '_grid_layout';
@import '_conditionals';
@import '_measurements';
@import '_shims';
@import 'design-patterns/_buttons';
@import '_device-pixels';
@import '_colours';
@import '_css3';
@import '_typography';
@import '_font_stack';


//SCSS include links to application elements.
#content {@include core-19}
#content {@include media}
#content {@include device-pixel-ratio($ratio: 2)}
#content legend {@include heading-36}
#content h1 {@include heading-36}
#content h2 {@include heading-27}
#content h3 {@include heading-24}
#content h4 {@include copy-19}
#content p {@include copy-19}
#content select {@include copy-19}
#content .step {@include copy-19}
#content .error-text {@include copy-19}
#content {@include inner-block}
#content {@include outer-block}
.beta-banner {@include phase-banner (beta)}
.button {@include button}
.button-secondary {@include button}
.outer-block {@include outer-block;}
.inner-block {@include inner-block;}

//** WASTE CARRIERS ** CUSTOM STYLES ** //

//GLOBAL

#content {
  padding-bottom:100px;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

#content p {
    line-height: 1.50;
}

.list-bullets {
    list-style-type: square;
}

.inline .block-label {
    clear: none;
    margin-right:15px;
}

//HEADER STYLES

.header_text h1 {
  color: #FFFFFF;
}

.header_text span {
  background-color: rgb(244, 119, 56);
  padding: 0 0.2em;
  border-radius:5px;
}

.header_text span {
    text-transform: uppercase;
}

#global-beta-message p {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.31579;
    margin: 0 auto;
    max-width: 960px;
    text-transform: none;
    padding-left:5px;
}


//FOOTER STYLES

.footer-top {
    clear: left;
    padding-left: 30px;
    position: relative;
}

//NAVIGATION STYLES

.back_link, .next_link, .button, .step {
    margin-bottom: 1.25em;
    margin-top: 0.625em;
    display:inline;
}

#sPostcode, .link_to {
    margin-right:15px;
}

.margin-control {
    position:relative;
    left:-10px;
    top:0;
}

// ** WASTE CARRIER PAGE STYLES ** //

//Reports page

main#content, section#content {
    display: block;
    margin: 0 auto;
    max-width: 1020px;
    position: relative;
}









