//header section

.header_text {
  color: #FFFFFF;
}

#global-header .header-wrapper .header-global .header-logo {
    margin: 10px 0 2px;
}

.beta {
	background-color: rgb(244, 119, 56);
    color: rgb(255, 255, 255);
    display: inline-block;
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.25;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}

#global-beta-message {
  background-color: rgb(244, 119, 56);
  padding: 0.5em 2em;
}

#global-beta-message p {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.31579;
    margin: 0 auto;
    max-width: 960px;
    text-transform: none;
}

// content section

#content {
	margin: 0 15px;
}

#content:after {
    clear: both;
    content: "";
    display: block;
}

#content {
    margin: 0 auto;
    max-width: 1020px;
    text-align: left;
    width: auto;
}

.group {
	margin-left: 30px;
	margin-right: 30px;
}


// footer section

.footer-top {
	padding-left: 30px;
	clear: left;
	position: relative;
}

