//@ import design styles from GOV.UK github
@import 'design-patterns/_alpha-beta';
@import '_url-helpers';

@import '_grid_layout';
@import '_conditionals';
@import '_measurements';
@import '_shims';

@import 'design-patterns/_buttons';
@import '_device-pixels';

@import '_colours';
@import '_css3';
@import '_typography';
@import '_font_stack';


//SCSS include links to application elements.
#content { @include media; }
#content { @include device-pixel-ratio($ratio: 2)}
#content h1 { @include core-36; }
#content h2 {@include core-27}
#content h3 {@include core-24}
#content p {@include core-19}
#content legend {@include core-36}
#content input {@include core-19}
#content label {@include core-19}
#content form-label {@include core-19}
#content .step {@include core-19}
#content .error-text {@include core-19}
#content li {@include core-19}
#content { @include inner-block; }
#content { @include outer-block; }
.beta-banner { @include phase-banner (beta); }
.button  { @include button; }


//** WASTE CARRIERS ** CUSTOM STYLES ** //

//GLOBAL

ul, ol {
    list-style-type: none;
}

h2 {
    margin-bottom:10px;
    margin-top:10px;
}

h2.subtitle {
    color: rgb(111, 119, 123);
}

hr {
    margin-bottom:30px;
    margin-top:30px;
}

p {
    margin-bottom: 1.05263em;
    margin-top: 0.26316em;
}

#smartanswers_display, #data_protection {
    list-style-type: inherit;
}

//HEADER STYLES

.header_text {
  color: #FFFFFF;
}

#global-header .header-wrapper .header-global .header-logo {
    margin: 10px 0 2px;
}

#global-header-bar .header-bar {
    margin-bottom:20px;
}

//BANNER (BETA) STYLES

.header_text span {
  background-color: rgb(244, 119, 56);
  padding: 0 0.2em;
  border-radius:10px;
}

.header_text span {
    text-transform: uppercase;
}

#global-beta-message p {
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.31579;
    margin: 0 auto;
    max-width: 960px;
    text-transform: none;
}


//FOOTER STYLES

.footer-top {
    padding-left: 30px;
    clear: left;
    position: relative;
}


//FORM STYLES

legend {
    margin-bottom:10px;
}

.form-group {
    clear: both;
    float: left;
    width: 100%;
    margin-bottom:20px;
}

.form-group:after {
    clear: both;
    content: "";
    display: block;
}

.group {
    padding-left: 30px;
    padding-right: 30px;
}


.form-hint {
    color: rgb(111, 119, 123);
    display: block;
    font-size: 19px;
    margin-bottom: 5px;
    margin-top: 8px;
}


//LABEL STYLES

.block-label {
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;

}

.block-label {
    background: none repeat scroll 0 0 rgb(222, 224, 226);
    border: 1px solid rgb(222, 224, 226);
    clear: left;
    cursor: pointer;
    display: block;
    padding: 18px 30px 15px 45px;
    position: relative;    

}

.block-label input {
    cursor: pointer;
    left: 15px;
    position: absolute;
    top: 18px;
}

.form-label, #disLabel, #postLabel  {
    display: block;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.31579;
    margin-bottom: 5px;
    text-transform: none;
}

.form-label-postcode  {
    display: block;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.31579;
    margin-bottom: 5px;
    text-transform: none;
    margin-bottom: -20px;
}


.js-enabled .block-label input:focus {
    outline: medium none;
}

.js-enabled .block-label:focus {
 outline: 3px solid rgb(255, 191, 71);

}
.block-label:hover {
    border-color: rgb(11, 12, 12);
}

.block-label:focus {
    border-color: rgb(11, 12, 12);
}

.js-enabled .selected {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    border-color: rgb(11, 12, 12);
}

.js-enabled .add-focus {
    outline: 3px solid rgb(255, 191, 71);
}

#postcode, .link_to {
    margin-right:15px;
}

//NAVIGATION STYLES

.back_link {
   display:inline;
}

.back_link, .next_link, .button {
    margin-bottom:20px;
    margin-top:20px;
}

.inline .block-label {
    clear: none;
    margin-right:15px;
}


//PAGE STYLES

.panel-indent {
    border-left: 5px solid rgb(222, 224, 226);
    clear: both;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left:20px;
}

.postcode {
    margin-right:15px;
}


//Registration page

.js-enabled .related-positioning {
    top: 10em;
}

.related-positioning {
    height: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.related-container {
    height: 0;
    margin: 0 auto;
    max-width: 1020px;
    position: relative;
    z-index: 50;
}

.related {
    border-top: 10px solid rgb(0, 94, 165);
    margin: 3em 0 0;
    position: absolute;
    right: 1.75em;
    width: 18.75em;
}

.related .inner {
    padding: 0.5em 1em 0 0;
    width: auto;
}

.inner {
    margin: 0 auto;
    padding: 1em;
    position: relative;
}

.related h2 {
    color: rgb(11, 12, 12);
    font-family: "nta",Arial,sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
    position: relative;
    text-transform: none;
}









