//EXAMPLE TEMPLATE - GOV.UK ELEMENT STYLES FROM GDS DESIGN MANUAL

//BOX STYLES

.inner-payment-box:before, .payment-box:before, .summary-box:before, .example:before {
    background: none repeat scroll 0 0 rgb(191, 193, 195);
    color: rgb(255, 255, 255);
    font-family: "nta",Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    line-height: 1.42857;
    padding: 0.21053em 0.78947em;
    position: absolute;
    text-transform: none;
    top: 0;
}
.payment-box #registration_registration_fee, #registration_copy_cards, #registration_total_fee, #registration_copy_card_fee {
    background: none repeat scroll 0 0 rgb(222, 224, 226);
    border: 1px solid rgb(191, 193, 195);
    cursor: pointer;
    display: block;
    padding: 18px 0 15px 25px;
    position: relative;
}
.inner-payment-box, .inner-payment-box-total, .payment-box {
    padding: 10px 20px 20px 10px;
}

.summary-box, .example {
   padding: 20px 0 10px 30px;
}

.payment-box {
    padding-bottom:0px;
}

.inner-payment-box, .inner-payment-box-total {
    border-bottom: 1px solid rgb(191, 193, 195);
}
.payment-box, .summary-box, .example {
    border: 1px solid rgb(191, 193, 195);
    margin-bottom: 45px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
}
.inner .inline input {
    float:right;
}
.payment-box .form-label, input {
    display: inline;
}
#registration_copy_cards, #registration_registration_fee, #registration_copy_card_fee {
    margin-left:10px;
}
#payment-buttons {
    float:left;
    position:relative;
    vertical-align: baseline;
}
.payment-box .add-focus {
    outline: none;
}
.payment-box input:focus {
  outline: none;
  cursor:none;
}
#registration_copy_cards, #registration_copy_card_fee {
    border: 1px solid rgb(191, 193, 195);
    width: 8%;
}

//Example box

.example:before {
    content: "EXAMPLE";
}
.example {
    margin-bottom: 45px;
    margin-top: 15px; 
}

//Summary box


.summary-box {
    margin-bottom: 10px;
    margin-top: 10px;
}

// GDS FORMS

.subtitle {
    color: rgb(111, 119, 123);
    font-family: "nta",Arial,sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.50;
    margin: 0;
    text-transform: none;
    padding-top:0.1em;
    padding-bottom:0.1em;
}



//Form Styles

.form-group {
    clear: both;
    float: left;
    width: 100%;
    margin-bottom:20px;
}

.form-group:after {
    clear: both;
    content: "";
    display: block;
}

.group {
    padding-left: 10px;
    padding-right: 10px;
}


.form-hint {
    color: rgb(111, 119, 123);
    display: block;
    font-size: 19px;
    margin-bottom: 5px;
    margin-top: 8px;
}

.form-control {
    width: 50%;
}

.form-control {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(191, 193, 195);
    border-radius: 0;
    box-sizing: border-box;
    font-family: "nta",Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.31579;
    padding: 4px;
    text-transform: none;
}


//Block Labels

.block-label {
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;

}

.block-label {
    background: none repeat scroll 0 0 rgb(222, 224, 226);
    border: 1px solid rgb(222, 224, 226);
    clear: left;
    cursor: pointer;
    display: block;
    padding: 18px 30px 15px 45px;
    position: relative;    

}

.block-label input {
    cursor: pointer;
    left: 15px;
    position: absolute;
    top: 18px;
}

.block-label:hover {
    border-color:rgb(11, 12, 12);
}
//Only if JS is enabled

.js-enabled .add-focus {
    outline: 3px solid rgb(255, 191, 71);

}

.js-enabled .block-label input:focus {
  outline: none;
}

.js-enabled .selected {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    border-color: rgb(11, 12, 12);
}


//Form Labels

.form-label, #disLabel, #postLabel  {
    display: block;
    font-family: "nta",Arial,sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.50;
    margin-bottom: 0;
    text-transform: none;
}

.form-label-postcode  {
    display: block;
    font-family: "nta",Arial,sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.50;
    margin-bottom: 0;
    text-transform: none;
}


//VALIDATION 

.validation-summary {
    background: none repeat scroll 0 0 rgb(254, 247, 247);
    border: 3px solid rgb(223, 48, 52);
    padding: 1em 0.7em;
    margin-bottom:20px;
    margin-top:20px;
}

//Error text

.error-text {
    color: rgb(223, 48, 52);
}


//PANEL INDENT

.panel-indent {
    border-left: 5px solid rgb(222, 224, 226);
    clear: both;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left:20px;
}

//RELATED POSITIONING

.js-enabled .related-positioning {
    top: 7em;
}

.related-positioning {
    height: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.related-container {
    height: 0;
    margin: 0 auto;
    max-width: 1020px;
    position: relative;
    z-index: 50;
}

.related {
    border-top: 10px solid rgb(0, 94, 165);
    margin: 3em 0 0;
    position: relative;
    right: -33.44em;
    top: -6em;
    width: 18.75em;
}

.related .inner {
    padding: 0.5em 1em 0 0;
    width: auto;
}

.inner {
    margin: 0 auto;
    padding: 1em;
    position: relative;
}

.related h2 {
    color: rgb(11, 12, 12);
    font-family: "nta",Arial,sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
    position: relative;
    text-transform: none;
}


// ** EXAMPLE TEMPLATE STYLES ** //


//Date Example

.inline-date {
    float: left;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right:10px;
}


// Table Styles Example

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table th {
    font-weight: 700;
}
table th, table td {
    border-bottom: 1px solid rgb(191, 193, 195);
    color: rgb(11, 12, 12);
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    padding: 0.73684em 1.05263em 0.52632em 0;
    text-align: left;
    text-transform: none;
}

//Hidden Text Example

details .summary {
    color: rgb(0, 94, 165);
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0.26316em;
    position: relative;
}

details .arrow {
    margin-right: 0.35em;
}

details .summary {
    text-decoration: underline;
    font-size: 19px;
}

.panel-indent:after {
    clear: both;
    content: "";
    display: block;
}
.example .panel-indent {
    margin: 0;
}
.panel-indent {
    border-left: 4px solid rgb(191, 193, 195);
    clear: both;
    padding: 10px 0 10px 15px;
    margin-bottom: 20px;
}

.inline p {
    display:block;
    float:left;
    position:relative;
}

