//Imported design styles from GOV.UK github//
@import 'design-patterns/_alpha-beta';
@import '_url-helpers';
@import '_grid_layout';
@import '_conditionals';
@import '_measurements';
@import '_shims';
@import 'design-patterns/_buttons';
@import '_device-pixels';
@import '_colours';
@import '_css3';
@import '_typography';
@import '_font_stack';


//CUSTOM STYLES//

//Header Section//

#global-header-bar .header-bar {margin-bottom:1em;}
  .header_text h1 {
	color: #FFFFFF;
  @include inner-block;
}

.header_text span {
    @include bold-24; 
    @include inner-block;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(244, 119, 56);
}

//Beta banner

.beta-banner {
	@include phase-banner($state:beta);
  width:100%;
}

.beta-banner p {
	color: $banner-text-colour;
  max-width: 960px;
  margin: 0 auto;
  @include inner-block;
}

//Page Header//

.page-header h1 {
@include bold-48;
padding-top: 0.7rem;
padding-bottom: 1.3rem;
margin: 0.5em 0em 0em 0em;
}

//Layout//

#content {@include inner-block; @include outer-block; margin-bottom:4em;}
article {@include inner-block}
section {margin:0;}
aside   {margin:0;}


//Responsive Columns//

@media all and ( min-width: 601px ) {
   
  .col-1 {
    float: left;
    width: 60%;
   
  }
  
   .col-2 {
    float: right;
    width: 30%;
    border-top: 10px solid rgb(0, 94, 165);
    padding-top:15px;
  }

}

@media all and ( min-width: 960px ) {
   
   .col-1 {
    width: 60%;
  }
  
   .col-2 {
    float: right;
    width: 30%;
    border-top: 10px solid rgb(0, 94, 165);
    padding-top:15px;
  }
}


//Aside margin control

#relevant-aside, #tier-aside, #directors-aside {margin-top:7em;}


//Footer//

.footer-top {@include inner-block}

//Form//

fieldset {@include media(desktop){
	padding-top: 0.7rem;
	padding-bottom: 1.3rem;;}

legend {
	padding-top: 0.7rem;
	padding-bottom: 1.3rem;
	@include bold-36;
}	

.form-label {
	@include copy-19;
    display: block;
    line-height:2em;
}

.form-group {}

input,#addressSelector {@include copy-19};
#registration_accountEmail_confirmation,
#registration_contactEmail, 
#registration_accountEmail, 
#agency_user_email, 
#user_email, 
#admin_email  
{width:50%;}

//Address look-up


#addressSelector {
  margin-top: 0.7rem;
  margin-bottom: 1.3rem;
  width:100%;
}
 #addressSelector {
  word-wrap: break-word;
 }


// Radio buttons & checkboxes

.block-label {
display: block;
float: none;
clear: left;
position: relative;
background: $panel-colour;
border: 1px solid $panel-colour;
padding: (15px $gutter $gutter-half $gutter*1.5);
margin-top: 10px;
margin-bottom: 10px;
font-size: 19px;
cursor: pointer; // Encourage clicking on block labels
@include media(tablet) {
float: left;
margin-top: 5px;
margin-bottom: 5px;
// width: 25%; - Test : check that text within labels will wrap
}
}
.block-label:hover {
border-color: $black;
}
// Position checkbox within label, to allow text to wrap
.block-label input {
position: absolute;
top: 18px;
left: $gutter-half;
cursor: pointer;
}
// Use inline, to sit block labels next to each other
.inline .block-label {
clear: none;
margin-right: $gutter-half;
}
// Only if JavaScript is enabled
// Add focus styles to block labels
.js-enabled .add-focus {
outline: 3px solid $yellow;
}
// Remove focus styles from radio and checkbox inputs
.js-enabled .block-label input:focus {
outline: none;
}
// Add selected state to block labels
.js-enabled .selected {
background: $white;
border-color: $black;
}
}

//Buttons//

.button {
	@include button;
	margin-top: 1.7rem;
	margin-bottom: 1.7rem;
}
.button-secondary {
	@include button($grey-3);
	margin-top: 1.7rem;
	margin-bottom: 1.7rem;
}
.button-warning {
	@include button($red);
	margin-top: 1.7rem;
	margin-bottom: 1.7rem;
}

// Date of birth//
.inline-date {
	display:inline-block;
}

#date-subtitle {
  margin:0;
}

.inline-date label {
display: block;
margin-bottom: 5px;
}
.inline-date .form-group {
width: 50px;
float: left;
margin-right: 20px;
clear: none;
}
.inline-date .form-group-year {
width: 70px;
}
.inline-date .form-group input {
width: 100%;
}
// Use Modernizr to detect for touch events
// Build: http://modernizr.com/download/#-touch-cssclasses-teststyles-prefixes
// Hide date of birth
.touch .inline-date {
display: none;
}
// Hide native date of birth
.no-touch .inline-date {
display: none;
}
// Show native date of birth
.touch .inline-date {
display: block;
}
// Set a minimum height for date inputs
.touch input[type="date"] {
min-height: 36px;
}

//Typography//

h1 {@include bold-36}
h2 {@include bold-36; padding-top: 0.7rem; padding-bottom: 1.3rem;}
h3 {@include bold-24; padding-top: 0.7rem; padding-bottom: 1.3rem;}
p {@include copy-19; }
a {@include copy-19; padding-top: 0.7rem; padding-bottom: 1.3rem;}
.step {@include copy-19; color:#6F777B;}
.col-1 .link_to {@include copy-19; margin-right:1em;} //back button
.subtitle {@include copy-19; color:#6F777B;}
.subtitle-grey {@include bold-24; color:#6F777B;}
.table-column-text {@include core-19; color:#6F777B; margin-right:100px;}
.table-column-data {@include bold-19;}
.form-hint {@include copy-19; color:#6f777B;}


//OTHER PAGE ELEMENTS//

//Table Styles//

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table th {
    font-weight: 700;
}
table th, table td {
    border-bottom: 1px solid rgb(191, 193, 195);
    color: rgb(11, 12, 12);
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    padding: 0.73684em 1.05263em 0.52632em 0;
    text-align: left;
    text-transform: none;
}

//Hidden Text//

details {
display: block;
margin-bottom:1em;
@include core-19;
}
details summary {
display: inline-block;
color: $govuk-blue;
cursor: pointer;
position: relative;
margin-bottom: em(5);
}
details summary:hover {
color: $link-hover-colour;
}
details summary:focus {
outline: 3px solid $yellow;
}

details .summary {
text-decoration: underline;
}

details .arrow {
margin-right: 0.35em;
}

details .panel-indent {
margin-top: 0;
}

//Panel Indent//

.panel-indent {
    border-left: 4px solid rgb(191, 193, 195);
    clear: both;
    padding: 10px 0 0px 15px;
    margin-bottom: 20px;
}


//VALIDATION//

.validation-summary {
border: 3px solid $error-colour;
padding: $gutter-half $gutter;
margin-bottom: $gutter;
@include ie-lte(6){
zoom: 1;
}
}
.validation-summary ul {
margin-top: 10px;
}
.validation-summary li,
.validation-summary p {
@include core-16;
}
.validation-summary p {
margin-top: $gutter-half;
margin-bottom: 5px;
}
.validation-summary a {
color: $error-colour;
@include ie-lte(6) {
color: $error-colour !important;
}
}
.validation-summary .heading-small {
margin-top: $gutter-half;
}
.validation-message {
display: block;
@include core-16;
color: $error-colour;
}

//Error text

.error-text {
 color: $error-colour;
}

//Inline Elements

.inline {display:inline-block;}

//Bullet points//

ol {list-style-type:none;}
li {list-style-type:none;}
ul {list-style-type:none;}
#relevant-aside h3 {border-bottom: 1px solid rgb(191, 193, 195);}


//CUSTOM STYLES TO IMPROVE PAGE LAYOUT

#margin-control .block-label {margin-right: 100px;}

//Summary pages // **** PAGES REQUIRE FURTHER DESIGN WORK IN CODE *****

.list-bullets {
list-style-image: url("https://assets.digital.cabinet-office.gov.uk/static/bullet-disc-5px-4180cb91fb35028365a59ddfcfd36e34.gif");
list-style-type: disc; position:relative; left:-4em;}

.summary-box {
    overflow: hidden;
    position: relative;
    @include outer-block;
    padding-top: 0.7rem;
    padding-bottom: 1.3rem;
}

.summary-subtitle {@include bold-48; padding-top: 0.7rem; padding-bottom: 3rem; }
.summary-items {position:relative; left:0em; @include core-19;}
#smartanswers_display {position:relative; left:5em; @include core-19;}
.summary-box li {position:relative; left:-2em; @include core-19;}
.summary-page h3 {padding-top: 1.7rem; padding-bottom: 1.3rem;}
#declaration-summary h2 {border:0;}
.summary-page h3 {border-top: 1px solid rgb(191, 193, 195);}

.notice-icon {
  position:relative;
  top:-90px;
  width:34px; 
  height:29px;
  background: url("https:/assets.digital.cabinet-office.gov.uk/static/icon-important-187bcc8d8a6d56498c4ac26cadad102d.png")}

.declaration-text, .privacy-data {
  padding-left:3.5em;
}

.privacy-data {
  padding-left:0;
}

#declaration-summary {margin-top:3.4em;}



//Payment copy card page

#payment-col-1 {width:67%;}

.payment-box {
    border: 1px solid rgb(191, 193, 195);
    margin-bottom: 45px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
}
#registration_copy_cards, #registration_copy_card_fee, #registration_registration_fee, #registration_total_fee {
    border: 1px solid rgb(191, 193, 195);
    width: 10%;
    float:right;
    position:relative;
    vertical-align: baseline;
    top:-35px;
    color: rgb(11, 12, 12);
}
#registration_copy_cards {
  margin-right:5em;
}
.payment-group {
   padding: 20px 0 10px 0px;
}
.payment-box {
    padding-bottom:0px;
}
.inner-payment-box, .inner-payment-box-total {
    border-bottom: 1px solid rgb(191, 193, 195);
}
.inner .inline input {
    float:right;
}
.payment-box .add-focus {
    outline: none;
}
.payment-box input:focus {
  outline: none;
  cursor:none;
}
#registration_copy_cards {
    right:20px;
}
.payment-group .subtitle {
    margin-bottom: 30px;
}
#world-pay-subtitle {padding-left:2.4em;}
.inner-payment-box .notice-icon {position:relative; top:50px; height:34px; width:34px;}

//Electronic payment
#electronic-payment-icon {position:relative; top:60px; left:10px; height:34px; width:34px; background: url("https:/assets.digital.cabinet-office.gov.uk/static/icon-important-187bcc8d8a6d56498c4ac26cadad102d.png")}
#iban {padding-left:3em;}
#col-1-bank-transfer {width:65%;}
.table_header {@include bold-48; padding-top: 0.7rem; padding-bottom: 3rem; }


