@import '_colours';
@import '_css3';
@import '_shims';
@import '_typography';
@import '_measurements';

@import 'design-patterns/_alpha-beta';
@import 'design-patterns/_buttons';

@import '_url-helpers';
@import '_conditionals';
@import '_device-pixels';
@import '_font_stack';

/* Global header ========================================================== */

#global-header-bar .header-bar {
  display:none;} /* display none to be removed after go live following removal of phase banner */

.header_text h1 {
  @include bold-24;
  padding-top:5px;
  padding-left:15px;
  color: rgb(255, 255, 255);
}
 
/* Phase banner ========================================================== */

.phase-banner {
  @include phase-banner($state: beta);
  @include outer-block;
  max-width: 960px;
}

/* Wrapper ========================================================== */

#wrapper {
  @include outer-block;
  @include inner-block;
  max-width:960px;
}

/* Page header ========================================================== */

.page-header {
  max-width: 30em;
}

/* Content ========================================================== */

#content {
  text-align: left;
  padding-bottom: 90px;
}

/* Use text div to keep columns less than 75 characters */
.text {
  max-width:30em;
}

#new_registration_13245 .inline {
  display:inline-block;
}

.form-group-type, #page3 {
  max-width:30em;
}

/* Block positioning ========================================================== */

.inner-block {
  @include inner-block;
}
.inner-outer {
  @include outer-block;
}

/* Footer ========================================================== */

.footer-top {
 @include inner-block;
}



