// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// govuk_frontend_toolkit mixins
@import "_conditionals";
@import "_typography";
@import "_colours";
@import "_css3";

@import 'design-patterns/_buttons.scss';
@import 'design-patterns/_panels.scss';
@import 'design-patterns/_forms.scss';
@import 'design-patterns/_progress-indicator.scss';

@include form();
@include progress-indicator(white,$border-colour,$highlight-colour,4);

.button{
  @include button;
}
.button-secondary{
  @include button($grey-3);
}

.js .js-hidden,
.nojs .nojs-hidden {
	display: none;
}

.offscreen {
	position: absolute;
	top: -1000px;
	left: -1000px;
}

#progress-wrapper {
	margin: 1em 0em;
}

#progress {
	width: 400px;
	max-width: 90%;
	display: inline-block;
	border: 1px solid black;
	padding: 0em;
}
#progress .bar{
	background-color: $green;
	height: 1em;
}

html {
	font-family: Arial,sans-serif
}
/*
fieldset {
	border: none;
	padding: 0;
}
legend {
	font-size: 24px;
	line-height: 1.25;
	font-weight: 400;
	text-transform: none;
	margin-bottom: 0.5em;
	color: #0b0c0c;
}
label {
	display: block;
	color: #0b0c0c;
	font-size: 19px;
	line-height: 1.31579;
	font-weight: 400;
	text-transform: none;
	vertical-align: top;
	padding: 0.25em 0;
}

input {
	background-color: #f9f9f9;
	border: 2px inset;
	font-size: 1em;
	padding: 0.1em 0 0.1em 0.4em;
}
*/
.box {
	background-color: $grey-3;
	max-width: 500px;
	padding: 0.25em;
	margin: 1em 0em;
}
.box input[type=text]{
	min-width:20em;
}
.box dl {
	padding: 0px;
	margin: 0px;
	width: 70%;
}
.box dl dt,
.box dl dd
{
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
.box dl dd{
	width: 69%;
}
.box dl dt{
	width: 30%;
}

#content {
	margin: 0 auto;
	max-width: 1020px;
	//position: relative;	// Removed as caused issues overlaying the LoginLogout links
}
#content article {
	margin: 1em 2em 3em 2em;
}
.box .detail {
	//background-color: #FFCC99;
	display: none;
}
.box div.view {
	float: right;
	text-align: right;
}

h2.registered {
	margin: 1em 0em;
}

.note {
border: 3px solid #df3034;
box-sizing: border-box;
padding: 1em 1em 0.25em 1em;
margin: 1em -1em 1.5em -1em;
background-color: #fef7f7;
}

.current_user {
    float: right;
	text-align: right;
	display: inline-block;
	margin: 1em 2em 0em 1em;
	max-width:100em;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.external {
	background-color: #99D6EA;
}
.internal {
	background-color: #FFFF85;
}
.admin {
	background-color: #FF6666;
}

.inline label {
	display: inline-block;
}

.finish-section h3 {
	clear: both;
	margin-top: 1em;
}
.finish-section h3:first-child {
	margin-top: 0em;
}
.finish-section {
	border: 1px solid black;
	padding: 0.25em;
	margin: 1em 0em;
}
.finish-section ol {
	list-style-type: decimal
}
dl.data dt,
dl.data dd {
	display: inline-block;
	float: left;
}
dl.data dt{
	clear: both;
	min-width: 5em;
}
dl.data dd{
	margin-left: 1em;
}
.clr{
	clear: both;
}

.print-section dl.data dt,
.finish-section dl.data dt{
	min-width: 17em;
}
.tooltip {
	background: $grey-3;
	border: 1px solid black;
}
.box.full {
	max-width: 75%;
	min-width: 32em;
}
.box.full dl{
	float: left;
	width: 60%;
}
.box .actions {
	float: right;
	margin: 0.25em;
	//display: inline;
}
.box .actions #delete {
	background-color: red;
}
.box .status {
	float: left;
	margin: 0.25em;
	padding: 0.25em;
}
.box .status.registered {
	background-color: yellow;
}
.box .status.revoked {
	background-color: red;
	font-weight: bold;
}

.detailsBoxWrapper
{
	display: none;
	position:relative;
}

.detailsBox
{
	background-color: #FFCC99;
	padding: 0.25em;
	width: 20em;
	position: absolute;
	left:35em;
	top:-7em;
}
/**
* Set Detail box heading, used for Registration status
*/
.detailHeading {
	padding-bottom: 1em;
	font-weight: bold;
}
.revoked {
	//border: dashed 0.1em;
}

.meta-phases {
 	margin: 15px 0;
 	padding: 0;
 	list-style: none;
 }
 
 .meta-phases li a {
	display: block;
	width: 100%;
	height: 100%;
	color: #fff;
	text-decoration: none;
	
 }
 
.meta-phases li.beta {
	background-color: #f47738;
}
.meta-phases li {
	padding: 5px 10px;
	float: left;
	margin: 0 5px 0 0;
	font-family: "nta",Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}


ul.actions {
 	margin: 0px;
 	padding: 0;
 	list-style: none;
}
ul.actions li {
	display: inline-block;
	padding-left: 0.25em;
}
ul.actions li:first-child {
	padding-left: 0em;
}
table.users {
	border-collapse: collapse;
}
table.users th {
	background-color: $grey-3;
}
table.users th,
table.users td {
	border: 1px solid black;
	padding: 0em 0.25em;
}
.button_to {
  .navbar-link {
	    overflow:visible; /* Shrinkwrap the text in IE7- */
	    margin:0;
	    padding:0;
	    border:0;
	    color:rgb(46, 49, 145); /* Match your link colour */
	    background:transparent;
	    font:inherit; /* Inherit font settings (doesn’t work in IE7-) */
	    line-height:normal; /* Override line-height to avoid spacing issues */
	    text-decoration:underline; /* Make it look linky */
	    cursor:pointer; /* Buttons don’t make the cursor change in all browsers */
	    -moz-user-select:text; /* Make button text selectable in Gecko */
	}
	/* Make sure keyboard users get visual feedback */
	.navbar-link:hover,
	.navbar-link:focus {
	    color:#2E8ACA;
	}
	/* Remove mystery padding in Gecko browsers.
	 * See https://bugzilla.mozilla.org/show_bug.cgi?id=140562
	 */
	.navbar-link::-moz-focus-inner {
	    padding:0;
	    border:0;
	}
}

/**
* Override Buttons to make a revoke button grey
*/
.revoke {
	background-color: darkgray;
	
}
.revoke:hover {
	background-color: gray;
}

.group{
	span {
		display: block;
		.radio {
			margin-top: 0.75em
		}
		.label {
			margin-left: 0.25em;
			margin-right: 2em;
		}
	}
	span.strength_icon{
		/* Triange with shadow*/
		//transform: scaleX(2.5);
		text-shadow: 
		    0 2px 2px rgba(255,255,255,0.7), 
		    0 10px 4px rgba(0,0,0,0.5);
		font-size: 32px;
	}
	span.strength_icon.none{
		display: none;
		color: #ac1d1c;
	}
	span.strength_icon.poor{
		display: inline;
		color: #ac1d1c;
	}
	span.strength_icon.good{
		display: inline;
		color: #e1e100;
	}
	span.strength_icon.strong{
		display: inline;
		color: #BADA55;
	}
	span.strength_icon .strength_message{
		display: inline;
		color: black;
		text-shadow: none;
		font-size: 16px;
	}
}

/**
* Added to show alert type messages similar to errors, but to represent status updates
*/
.note-summary {
    border: 3px solid #FFD633;
    @include panel(lighten(#FFFF00, 45%));
    max-width: 600px;
    h1 {
      margin-bottom: 0;
    }
    a {
      color: $mellow-red;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    ul, ol {
      color: $mellow-red;
    }
    ul {
      padding-left: 2.2em;
      li {
        list-style-type: none;
        list-style-image: none; 
      }
    }
    li {
      @include core-16;
    }
}

#accessCode {
    display: inline;
}

@media print
{
	.printButton { display: none; }
}
