@import '_colours';
@import '_css3';
@import '_shims';
@import '_typography';
@import '_measurements';

@import 'design-patterns/_alpha-beta';
@import 'design-patterns/_buttons';

@import '_url-helpers';
@import '_conditionals';
@import '_device-pixels';
@import '_font_stack';

/* Summary page NEW ========================================================== */


.list-bullets li {list-style-type:disc; position:relative; left:1em;}
.summary-page h2 {border-bottom: 1px solid rgb(191, 193, 195); padding-bottom:0.3em;}
.summary-page h2 {max-width:20em;}
.summary-page .validation-summary h2 {border:none;}

.notice-icon {
  position:relative;
  top:-90px;
  width:34px; 
  height:29px;
  index:100;
  background: url("https:/assets.digital.cabinet-office.gov.uk/static/icon-important-187bcc8d8a6d56498c4ac26cadad102d.png")}

.declaration-text {
  padding-left:3em;
}

/* Summary payment page NEW ========================================================== */


.inner-payment-box .form-label, .total-charge .form-label {
font-weight:700;
}

.inner-payment .inline {
  clear:none;
  margin-right: 15px;
  float:left;
  margin-top:5px;
}

.payment-notice {
  clear:left;
  padding-left: $gutter;
  float:left;
}

.payment-notice .form-note {
  position:relative;
  left:15px;
  top: -5px;
}

.payment-options .inline {
  margin-top:$gutter-half;
  @include media(mobile){
    margin-top:0;
    display:block;
    p {margin:0;
  }
  }
}

.payment-notice .notice-icon {
  position:relative;
  top:15px;
  left:-30px;
  width:34px; 
  height:34px;
  index:100;
  background: url("https:/assets.digital.cabinet-office.gov.uk/static/icon-important-187bcc8d8a6d56498c4ac26cadad102d.png")}


/* Electronic transfer page NEW ========================================================== */

#payment-table-wrapper {
  max-width:30em;
}

#payment-table-wrapper .iban-instructions {
  padding-left: $gutter*1.5;
}

#payment-table-wrapper .notice-icon {
  position:relative;
  top:-80px;
  width:34px; 
  height:34px;
  index:100;
  background: url("https:/assets.digital.cabinet-office.gov.uk/static/icon-important-187bcc8d8a6d56498c4ac26cadad102d.png")}


/* Registration complete page ========================================================== */

.completeSummary {
    width: 90%;
    color: white;
    padding: 2em 1em 2em 1em;
    margin: 0.75em 0em 0.75em 0em;
    text-align: center;
}
.almostComplete, .criminallySuspect {
	background-color: orange;
}
.complete {
	background-color: green;
}
.completeSummaryTitle {
	margin: 0 auto;
}
.completeSummaryMessage {
	margin: 0 auto;
	font-size: 90%;
}