.step {
  color: gray
}

.right {
  // background-color: red;
  float: right;
  width: auto;
}

.left {
  // background-color: yellow;
  overflow: hidden;
}

.boxed {
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  //box-shadow: 5px 5px 3px #888888;
}

.boxed_pay {
  margin: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  width: 300px;
}

.rounded {
  padding: 10px 40px;
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
}

.padded_cell {
  padding: 50px
}

.label_clone {
  color: #0b0c0c;
  font-family: "nta", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  vertical-align: top;
  padding: 0.25em 0;
}

.label_clone_big {
  color: #0b0c0c;
  font-family: "nta", Arial, sans-serif;
  font-size: 21px;
  line-height: 1.31579;
  font-weight: 600;
  text-transform: none;
  vertical-align: top;
  padding: 0.25em 0;
}

.label_clone_really_big {
  color: #0b0c0c;
  font-family: "nta", Arial, sans-serif;
  font-size: 40px;
  line-height: 1.31579;
  font-weight: 600;
  text-transform: none;
  text-align: center;
  padding: 0.25em 0;
}
